---
layout: no-title
title: Projects
---

<div class="projects">
  {% for project in site.data.projects %}
  <div class="project">
    <div class="project-container">
      <div class="project-image" style="background-image: url({{project.image}});"></div>
      <div class="project-content">
        <div class="project-title">
          <a href="{{project.link}}">{{project.name}}</a>
        </div>
        <div class="project-about">{{project.about}}</div>
        <div class="project-meta">
          <div class="project-links">
            {% if project.github %}<a href="{{project.github}}" class="project-link" title="View {{project.name}} on GitHub">{% include icons/github.svg %}View on GitHub</a>{% endif %}
            {% if project.blog %}<a href="{{project.blog}}" class="project-link" title="Read more about {{project.name}}">{% include icons/blog.svg %}Read more</a>{% endif %}
          </div>
          <div class="project-skills">
            {% include icons/code.svg %}{{project.skills | join: ', '}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
