---
layout: no-container
title: Card catalog
---
<div class="container" id="content">
<h1>{{ page.title }}</h1>
<p>Browse the genres or visit the <a href="/tags/">tags</a>.</p>



<ul class="icon-ul">
{% assign categories_max = 0 %}
{% for category in site.categories %}
{% if category[1].size > categories_max %}
{% assign categories_max = category[1].size %}
{% endif %}
{% endfor %}
{% for i in (1..categories_max) reversed %}
{% for category in site.categories %}
{% if category[1].size == i %}
<li><a href="#{{ category[0] | downcase | replace:' ','_' }}" title="{{ i }} posts"><span class="icon-li">{% include icons/bookmark.svg %}</span> {{ category[0] }}</a></li>
{% endif %}
{% endfor %}
{% endfor %}
</ul>


<hr>
</div>
{% assign categories_max = 0 %}
{% for category in site.categories %}
{% if category[1].size > categories_max %}
{% assign categories_max = category[1].size %}
{% endif %}
{% endfor %}
{% for i in (1..categories_max) reversed %}
{% for category in site.categories %}
{% if category[1].size == i %}
<div class="category" id="{{ category[0] | downcase | replace:' ','_' }}">
<div class="container">
<h2>{{ category[0] }} <span class="badge">{{ i }}</span></h2>
<div class="category-recents">
<ul class="icon-ul">
{% for post in category.last %}
{% if forloop.index <= 4 %}
<li><a class="category-recent" href="{{ post.url }}" title="posted on {{ post.date | date: "%B %d, %Y" }}">
<div class="category-thumb" style="background-image:url({{ post.image }});"></div>
<span class="icon-li">{% include icons/angle-right.svg %}</span><span class="category-title">{{ post.title }}</span></a></li>
{% endif %}
{% endfor %}
</ul>
</div>
<div class="category-olders">
<div class="columns">
<ul class="icon-ul">
{% for post in category.last %}
{% if forloop.index > 4 %}
<li><a href="{{ post.url }}" title="posted on {{ post.date | date: "%B %d, %Y" }}" class="category-older"><span class="icon-li">{% include icons/angle-right.svg %}</span><span class="category-title">{{ post.title }}</span></a></li>
{% endif %}
{% endfor %}
</ul>
</div>
</div>
</div>
</div>
</div>
{% endif %}
{% endfor %}
{% endfor %}
