---
title: Humble brags
layout: no-title
---

{% for brag in site.data.brags %}
{% for section in brag.section %}

<h2 class="brag-heading">{{ section }}</h2>
{% for site in brag.contents %}

<div class="brags" id="{{ site.site  | rereplace:' ','-' | downcase }}">
<p class="brag-site">{{ site.site }}</p>
<ul class="brag-ul icon-ul small">
{% for item in site.contents %}<li class="brag-li"><span class="icon-li">{% include icons/angle-right.svg %}</span><a href="{{item.link}}" class="brag"{% if item.ignoreProofer == true %} data-proofer-ignore{% endif %}>{{ item.title }}</a>{% if item.with %} with {{ item.with }}{% endif %}, {{item.date | date: "%B %-d, %Y"}}</li>{% endfor %}
</ul>
</div>
{% endfor %}

{% endfor %}
{% endfor %}