port: 4000
host: 127.0.0.1

url: https://katydecorah.com
baseurl: ''
permalink: /:categories/:title/
author:
  name: Katy DeCorah
  email: katydecorah@gmail.com
  uri: https://katydecorah.com
assets: //yo.katydecorah.com/

repository: katydecorah/katydecorah.github.io

remote_theme: katydecorah/theme@v4.5.0

paginate: 10
paginate_path: ":num"
future: true

title: Katy DeCorah
description: "Frontend engineer and tinkerer from Saratoga Springs, NY."
image: //yo.katydecorah.com/katy-decorah-2021@1600.jpg
twitter: "@katydecorah"

collections:
  favorites:
    output: true

sass:
  style: :compressed

timezone: America/New_York

plugins:
  - jemoji
  - jekyll-redirect-from
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-paginate
  - jekyll-mentions

feed:
  categories:
    - code

kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false
  footnote_backlink_inline: true

exclude:
  - vendor
  - CNAME
  - README.md
  - node_modules
  - .sass-cache
  - Gemfile
  - Gemfile.lock
  - package.json
  - package-lock.json
  - test
  - img/posts
  - packages
  - katydecorah.dic

links:
  - text: CodePen
    url: https://codepen.io/katydecorah/
    icon: codepen
  - text: GitHub
    url: https://github.com/katydecorah
    icon: github
  - text: Twitter
    url: https://twitter.com/katydecorah
    icon: twitter
  - text: Instagram
    url: https://instagram.com/katydecorah
    icon: instagram
  - text: RSS
    url: /feed.xml
    icon: rss
  - text: Collections
    url: /has/
    icon: bookmark

mapbox-token: pk.eyJ1Ijoia2F0eWRlY29yYWgiLCJhIjoiY2l0YzVhY2l6MGE0eDJ6czZ2NDRpZGtubyJ9.njBRjO2lRXdT0Mut9Vryqg
mapid: katydecorah/cikt0ttfx006q9flxv0h1qwob
mapid-winter: katydecorah/cikt10uvy007393kp2uriu22l

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "favorites"
    values:
      layout: "default"
