---
layout: front-page
title: Katy DeCorah
---
<div class="all-posts" id="adventures">
{% for post in paginator.posts %}<div class="post">
<a href="{{ post.url }}" class="post-link">
<div class="post-img-container">
<img src="{% if post.image %}{{ post.image }}{%else%}http://placehold.it/400{%endif%}" class="post-img" alt="{{ post.title }}">
</div>
<div class="post-meta">
<div class="post-title">{{ post.title }}</div>
<div class="post-date small">{{post.category}} &times; {{ post.date | date: "%B %d, %Y" }}{% if post.updated %}<span class="post-date-updated small">Updated {{ post.updated | date: "%B %d, %Y" }}</span>{% endif %}</div>
</div>
</a>
</div>
{% endfor %}
</div>
{% include paginator.html %}
