<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script><noscript></noscript>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script><noscript></noscript>{% if page.category == "code" %}
<script async src="http://codepen.io/assets/embed/ei.js"> </script><noscript></noscript>{% endif %}{% if page.layout == 'front-page' %}
<script async src="{{ site.url }}/js/script-min.js"> </script><noscript></noscript>{% endif %}
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-34842039-1']);
_gaq.push(['_setDomainName', 'katydecorah.com']);
_gaq.push(['_trackPageview']);
(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<noscript></noscript>
<script type="text/javascript" src="http://use.typekit.net/aec6dko.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>