<div class="footer">
  <div class="container">
    <div class="flick-nav">
      <span class="prev">&larr;</span>
      <div class="title"></div>
      <span class="next">&rarr;</span>
    </div>
    <p class="about">Web Developer, Instructional Designer, Adjunct Professor from Albany, NY.</p>
    <div class="icons">
      <a href="http://twitter.com/katydecorah"><i class="icon-twitter-sign icon"></i></a>
      <a href="https://github.com/katydecorah"><i class="icon-github-sign icon"></i></a>
      <a href="mailto:katydecorah@gmail.com"><i class="icon-envelope icon"></i></a>
    </div>
  </div>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>



  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34842039-1']);
  _gaq.push(['_setDomainName', 'katydecorah.com']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>