<div class="footer" id="hello">
  <div class="container">
    <div class="bio">
      <div class="bio-img">
        {% include img.html src='katy-decorah.jpg' class="bio-img-container img-half" alt='Katy DeCorah' %}
      </div>
      <div class="bio-details">
        <div>Hello! I'm Katy DeCorah. I live in Saratoga Springs, NY with <a href="https://jasonmorris.com">my husband</a> and <a href="https://www.instagram.com/p/BpmUWaMgCB7/">son</a>. I build internal tools at <a href="https://www.mapbox.com">Mapbox</a>. I’m also a co-organizer and co-founder at <a href="http://elaconf.com">Ela Conf</a>.</div>
      </div>
    </div>
    <div class="nav">{% for link in site.links %}{% if link.position == 'bottom' %}{% assign icon = link.icon | prepend: 'icons/' | append: '.svg' %}
      <a href="{{ link.url }}" title="{{ link.text }}" class="nav-link">{% include {{icon}} %}</a>{% endif %}{% endfor %}
    </div>
  </div>
</div>
