<div class="main-header">
{% include links.html %}
<div class="post-meta">
{% if paginator and paginator.page > 1 %}<div class="pageNumber">{{ paginator.page }} of {{ paginator.total_pages }}</div>{% endif %} 
{% if page.layout == 'post' %}
<span class="post-type"> <a href="http://katydecorah.com/categories/#{{ page.category | downcase }}">{{ page.category }}</a></span>
&times;
<span class="post-date">{{ page.date | date: "%B %d, %Y" }}{% if page.updated %}<a href="#updated_{{ page.updated | date: '%m%d%Y' }}" class="post-date-updated">Updated {{ page.updated | date: "%B %d, %Y" }}</a>{% endif %}</span>
{% endif %}
</div>
<a href="http://katydecorah.com/" class="main-logo">Katy DeCorah</a>
</div>