<p>Let's talk. 
	<a href="http://codepen.io/katydecorah/" title="CodePen"><i class="icon-code">&nbsp;</i></a> 
	<a href="http://www.twitter.com/katydecorah" title="Twitter"><i class="icon-twitter">&nbsp;</i></a> 
	<a href="http://www.instagram.com/katydecorah" title="Instagram"><i class="icon-instagram">&nbsp;</i></a> 
	<a href="http://www.flickr.com/photos/katydecorah/" title="Flickr"><i class="icon-flickr">&nbsp;</i></a> 
	<a href="http://www.github.com/katydecorah" title="Github"><i class="icon-github-alt">&nbsp;</i></a> 
	<a href="http://www.rdio.com/people/katydecorah/" title="Rdio"><i class="icon-music">&nbsp;</i></a> 
	<a href="http://www.linkedin.com/in/kdecorah/" title="LinkedIn"><i class="icon-linkedin">&nbsp;</i></a>
	<a href="http://katydecorah.com/feed.xml"><i class="icon-rss"></i></a>
	<a href="mailto:katydecorah@gmail.com"><i class="icon-envelope"></i></a>
</p>