<p>Let's talk. 
<a href="http://codepen.io/katydecorah/" title="CodePen"><i class="fa fa-code">&nbsp;</i></a> 
<a href="http://www.twitter.com/katydecorah" title="Twitter"><i class="fa fa-twitter">&nbsp;</i></a> 
<a href="http://www.instagram.com/katydecorah" title="Instagram"><i class="fa fa-instagram">&nbsp;</i></a> 
<a href="http://www.flickr.com/photos/katydecorah/" title="Flickr"><i class="fa fa-flickr">&nbsp;</i></a> 
<a href="http://www.github.com/katydecorah" title="Github"><i class="fa fa-github-alt">&nbsp;</i></a> 
<a href="http://www.rdio.com/people/katydecorah/" title="Rdio"><i class="fa fa-music">&nbsp;</i></a> 
<a href="http://www.linkedin.com/in/kdecorah/" title="LinkedIn"><i class="fa fa-linkedin">&nbsp;</i></a>
<a href="http://katydecorah.com/feed.xml"><i class="fa fa-rss"></i></a>
<a href="mailto:katydecorah@gmail.com"><i class="fa fa-envelope"></i></a>
</p>