<div class="navbar">
	<div class="navbar-inner">
		<a href="{{ site.baseurl }}" class="hello">Katy DeCorah</a>
		<ul class="nav">

			{% if page.title == "Projects" %}
			<li><a href="{{ site.baseurl }}projects" class="active">Projects</a></li>
			{% else %}
			<li><a href="{{ site.baseurl }}projects">Projects</a></li>
			{% endif %}

			{% if page.title == "Interests" %}
			<li><a href="{{ site.baseurl }}interests" class="active">Interests</a></li>
			{% else %}
			<li><a href="{{ site.baseurl }}interests">Interests</a></li>
			{% endif %}

		</ul>
	</div>
</div>