<div class="navbar" id="nav">
	<div class="navbar-inner">
		<a href="{{ site.baseurl }}" class="hello">Katy DeCorah</a>
		<ul class="nav pull-right">
			{% if page.title == "Hello!" %}<li><a href="{{ site.baseurl }}hello#content" class="active">Hello</a></li>
			{% else %}<li><a href="{{ site.baseurl }}hello#content">Hello</a></li>{% endif %}
			{% if page.title == "Adventures" %}<li><a href="{{ site.baseurl }}adventures#content" class="active">Adventures</a></li>
			{% elsif page.category %}<li><a href="{{ site.baseurl }}adventures#content" class="active">Adventures</a></li>
			{% else %}<li><a href="{{ site.baseurl }}adventures#content">Adventures</a></li>{% endif %}
			
		</ul>
	</div>
</div>