{% if paginator.total_pages > 1 %}
<div class="post-prev-next">
  <div class='prev-next-btns'>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="post-prev btn">
      {% include icons/angle-left.svg %} <span class="post-prev-title">Newer</span>
    </a>
    {% else %}
    <div class="post-prev btn btn-disabled" aria-disabled="true">{% include icons/angle-left.svg %} <span class="post-prev-title">Newer</div>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="post-next btn">
      <span class="post-next-title">Older</span> {% include icons/angle-right.svg %}
    </a>
    {% else %}
    <div class="post-next btn btn-disabled" aria-disabled="true">
      <span class="post-next-title">Older</span> {% include icons/angle-right.svg %}
    </div>
  {% endif %}
  </div>
  {% include categories.html %}
</div>{% endif %}
