{% for category in site.categories %}
  {% assign catg_name = category.first %}
  {% if catg_name == page.category %}
    {% assign catg_posts = category.last %}
  {% endif %}
{% endfor %}

{% for post in catg_posts %}
	{% if post.title == page.title %}
		{% unless forloop.last %}
			{% assign prev = catg_posts[forloop.index] %}
				<a href="{{ prev.url }}" class="prev-next text-left">&larr; {{ prev.title }} <img src="{{ prev.image }}"></a>
		{% endunless %}

	{% endif %}
	{% assign next = post %}
{% endfor %}


{% for post in catg_posts %}
	{% if post.title == page.title %}
		

		{% unless forloop.first %}
				<a href="{{ next.url }}" class="prev-next text-right">{{ next.title }} &rarr; <img src="{{ next.image }}"></a>
		{% endunless %}
	{% endif %}
	{% assign next = post %}
{% endfor %}