<div
  class="post-meta-header{% if page.locations %} post-meta-header-has-map{% endif %}"
>
  <div class="post-meta-breadcrumbs">
    <div class="container">
      <div class="breadcrumbs">
        <a class="post-meta-link" href="{{site.url}}">Katy DeCorah</a>
        {% include icons/chevron-right.svg %} {% if page.categories[0] %}
        <a class="post-meta-link" href="/{{ page.categories[0] | downcase}}"
          >{{ page.categories[0] }}</a
        >
        {% else %}
        <span class="post-meta-link">{{ page.title }}</span>
        {% endif %}
      </div>
    </div>
  </div>
  {% if page.categories[0] %}
  <div class="container">
    <div class="post-meta-date">
      {{ page.date | date: "%B %-d, %Y" }}{% if page.elsewhere-site %} |
      <a href="{{ page.elsewhere-link }}">{{ page.elsewhere-site }}</a>{% endif
      %}
    </div>
  </div>
  {% endif %}
</div>
