{% for category in site.categories %}
  {% assign catg_name = category.first %}
  {% if catg_name == page.category %}
    {% assign catg_posts = category.last %}
  {% endif %}
{% endfor %}

{% for post in catg_posts %}
	{% if post.title == page.title %}
		{% unless forloop.last %}
			{% assign prev = catg_posts[forloop.index] %}
			<div class="post-prev-container">
				<a href="{{ prev.url }}" class="post-prev"><img src="{{ prev.image }}" class="post-prev-img" alt=""> <span class="post-prev-title text-left"><i class="icon-angle-left"></i>  {{ prev.title }}</span></a>
			</div>
		{% endunless %}

	{% endif %}
	{% assign next = post %}
{% endfor %}


{% for post in catg_posts %}
	{% if post.title == page.title %}
		

		{% unless forloop.first %}
		<div class="post-next-container">
				<a href="{{ next.url }}" class="post-next"><img src="{{ next.image }}" class="post-next-img" alt=""><span class="post-next-title text-right">{{ next.title }} <i class="icon-angle-right"></i></span></a>
			</div>
		{% endunless %}
	{% endif %}
	{% assign next = post %}
{% endfor %}