{%- capture month-%}{{page.date | date: "%m"}}{%- endcapture-%} {%- assign
coord_size = page.coordinates | size-%} {%- if page.coordinates-%} {%- capture
mapid-%}{%- if page.mapid-%}{{page.mapid}}{%- elsif month == "12" or month ==
"01" or month == "02" or month == "03"-%}{{site.mapid-winter}}{%- else-%}{{
site.mapid }}{%- endif-%}{%- endcapture-%} {%- capture zoom-%}{%- if
page.zoom-%}{{ page.zoom }}{%- else-%}15{%- endif-%}{%- endcapture-%} {%-
capture place-%} {%- if coord_size >= 2
%}geojson%28%7B%22type%22%3A%22Feature%22%2C%22properties%22%3A%7B%22stroke-opacity%22%3A0%7D%2C%22geometry%22%3A%7B%22type%22%3A%22MultiLineString%22%2C%22coordinates%22%3A%5B%5B
{%- for coordinate in page.coordinates-%} %5B{{coordinate | replace: ' ','' |
replace: ',','%2C'}}%5D {%- unless forloop.last-%}%2C{%- endunless-%} {%-
endfor-%} %5D%0A%5D%0A%7D%0A%7D%29/auto {%- else-%} {%- for coordinate in
page.coordinates limit:1-%}{{ coordinate }} {%- endfor-%},{{zoom}} {%- endif-%}
{%- endcapture-%}

<div class="post-map-header">
  <div
    style="background-image:url(https://api.tiles.mapbox.com/v4/{{mapid}}/{{place}}/1280x200@2x.png?access_token={{ site.mapbox-token }})"
    class="post-location-image"
  ></div>
  <a
    class="map-attribution"
    href="https://www.mapbox.com/about/maps/"
    target="_blank"
    >© Mapbox © OpenStreetMap</a
  >
</div>
{%- endif-%}
