<div class="post-prev-next">
  <div class='prev-next-btns'>
    {% for category in site.categories %}{% assign catg_name = category.first %}{% if catg_name == page.categories[0] %}{% assign catg_posts = category.last %}{% endif %}{% endfor %}{% for post in catg_posts %}{% if post.title == page.title %}{% unless forloop.last %}{% assign prev = catg_posts[forloop.index] %}<a href="{{ prev.url }}" class="post-prev btn"> {% include icons/angle-left.svg %} <span class="post-prev-title">Older</span> </a>{% endunless %}{% endif %}{% assign next = post %}{% endfor %}{% for post in catg_posts %}{% if post.title == page.title %}{% unless forloop.first %}<a href="{{ next.url }}" class="post-next btn"> <span class="post-next-title">Newer</span> {% include icons/angle-right.svg %}</a>{% endunless %}{% endif %}{% assign next = post %}{% endfor %}
  </div>
</div>
