{% for playlist in site.data.playlists %}
{% if page.title == playlist.playlist %}
<p class="playlist-meta">
<i class="fa fa-music btn-circle"></i> Listen on {% if playlist.rdio %}<a href="{{ playlist.rdio }}" class="playlist-rdio">Rdio</a>{% endif %} {% if playlist.rdio and playlist.spotify %} or {% endif %} {% if playlist.spotify %} <a href="{{ playlist.spotify }}" class="playlist-rdio">Spotify</a>{% endif %}
</p>
<div class="playlist">
{% for tracks in playlist.tracks %}
<div class="playlist-track">
<div class="track-name">{{ tracks.track }}</div>
<div class="track-meta">
<span class="track-artist">{{ tracks.artist }} </span>
{% if tracks.album and tracks.album != '' %}<span class="track-album"> - {{ tracks.album }}</span>{% endif %}
</div>
</div>
{% endfor %}
</div>
{% endif %}
{% endfor %}
