{% for playlist in site.data.playlists %}
{% if page.title == playlist.playlist %}
<p class="playlist-meta">
{% if playlist.spotify %}{% include icons/music.svg %} <a href="{{ playlist.spotify }}" class="playlist-rdio">Listen on Spotify</a>{% endif %}
</p>
<div class="playlist">
{% for tracks in playlist.tracks %}
<div class="playlist-track">
<div class="track-name">{{ tracks.track }}</div>
<div class="track-meta">
<span class="track-artist">{{ tracks.artist }} </span>
{% if tracks.album and tracks.album != '' %}<span class="track-album"> - {{ tracks.album }}</span>{% endif %}
</div>
</div>
{% endfor %}
</div>
{% endif %}
{% endfor %}
