{% for playlist in site.data.playlists %}
{% if page.title == playlist.playlist %}
{% if playlist.spotify %}<p class="playlist-meta"><a href="{{ playlist.spotify }}" class="btn">{% include icons/headphones.svg %} Listen on Spotify</a></p>{% endif %}
<div class="playlist">
{% for tracks in playlist.tracks %}
<div class="playlist-track">
<div class="track-name">{{ tracks.track }}</div>
<div class="track-meta">
<span class="track-artist">{{ tracks.artist }} </span>
{% if tracks.album and tracks.album != '' %}<span class="track-album"> - {{ tracks.album }}</span>{% endif %}
</div>
</div>
{% endfor %}
</div>
{% endif %}
{% endfor %}
