<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% if page.title %} {{ page.title }} | {% endif %} Katy DeCorah</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  
  <link href="../css/style.css" rel="stylesheet" type="text/css">

  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">  

 <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:300italic|Spinnaker|Sacramento' rel='stylesheet' type='text/css'>


</head>