<!DOCTYPE html>
<!--[if lt IE 9]>      <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% if page.title %}{{ page.title }} {% endif %}{% if page.layout == "front-page" %}{% else %}&times; Katy DeCorah{% endif %}</title>
<meta name="description" content="{% if page.layout != 'front-page' %}{{page.title}} &times; Katy DeCorah &times; {% endif %}{{ site.description }}">
<meta name="viewport" content="width=device-width, initial-scale=1">{% if page.layout == 'post'%}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@katydecorah">
<meta name="twitter:creator" content="@katydecorah">
<meta name="twitter:title" content="{{page.title}}">
<meta name="twitter:description" content="{{page.excerpt | strip_html}}">
<meta name="twitter:image:src" content="{{page.image}}">{% else %}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@katydecorah">
<meta name="twitter:title" content="{{page.title}}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:image:src" content="{{ site.image }}">{% endif %}
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet" type="text/css">
{% if page.css %}<style>{{ page.css }}</style>{% endif %}</head>
