.adventure-map-container,
.adventures {
  display: none;

  &.show {
    display: block;
    margin-top: 2em;
  }
}

.adventure-full-map {
  height: 400px;
  width: 100%;
}

.adventure {
  @extend %flex;

  background: $white;
  display: block;
  margin-bottom: 1em;

  @include breakpoint(small) {
    padding: 1em;
  }

  &:hover {
    text-decoration: none;
  }
}

.adventure-image,
.adventure-map {
  width: 25%;

  @include breakpoint(small) {
    display: none;
  }
}

.adventure-image {
  background-size: cover;
  padding-bottom: 25%;
}

.adventure-map {
  margin: 0;
}

.adventure-group {
  @include breakpoint(medium) {
    padding-left: 1.5em;
    width: 50%;
  }

  h2 {
    margin-top: 0;
  }

  .icon {
    width: 1em;
  }

  .adventure-meta {
    color: $text-color;
    font-size: $font-small;
    margin-bottom: 0.5em;
  }
}
