
.archive-year {
  margin-bottom: 1em;
}

.archive-months {

  @include breakpoint(gt-mobile) {
    border-left: 4px solid darken($body-bg, 15%);
    margin-left: 1em;
    padding-left: 1em;
  }

}

.archive-month {

  @extend %clearfix;

  @include breakpoint(gt-mobile) {
    align-items: center;
    display: flex;
    justify-content: left;
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 1em;
    transition: .2s;

    &:hover {

      h3:before {
        background-color: darken($body-bg, 20%);
        transition: .25s;
      }

    }

  }

  h3 {

    @extend %fancy-type;

    min-width: 200px;
    position: relative;

    @include breakpoint(gt-mobile) { margin: 0; }

    .no-flexbox & { float: left;}

    &:before {

      @include breakpoint(gt-mobile) {
        background-color: darken($body-bg, 15%);
        border-radius: .5em;
        content: '';
        height: .5em;
        left: -1.875em;
        position: absolute;
        top: .3em;
        transition: .2s;
        width: .5em;
      }

    }
  }

  ul {
    margin-bottom: 0;
    margin-top: 0;

    .no-flexbox & {
      float: left;
      width: 500px;
    }

  }

}
