
.archive-year {
  margin-bottom: 1em;
}

.archive-months {
 @include breakpoint(gt-mobile) {
  margin-left: 1em;
  border-left: 4px solid darken($body-bg,15%);
  padding-left: 1em;
}
}

.archive-month { 
  @extend .clearfix;
  @include breakpoint(gt-mobile) {
    margin-bottom: 2em;
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 1em;
    transition: .2s;
    &:hover {
      background: white;
      transition: .25s;
      h3:before {
        background-color: darken($body-bg,20%);
        transition: .25s;
      }
    }
  }

  h3 { 
    position: relative;
    min-width: 200px;
    .no-flexbox & { float: left;} 
    @include breakpoint(gt-mobile) { margin: 0; }
    @extend .fancy-type;
    &:before {
      @include breakpoint(gt-mobile) {
       content: "";
       position: absolute;
       width: 0.5em;
       height: 0.5em;
       background-color: darken($body-bg,15%);
       border-radius: 0.5em;
       left: -1.875em;
       top: 0.3em;
       transition: .2s;
     }
   }
 }
 ul { 
  margin-top: 0; 
  margin-bottom: 0;
  .no-flexbox & { float: left; width: 500px;} 
  
}
}