.archive-year {
  margin-bottom: 1em;
}

.archive-months {
  @include breakpoint(medium) {
    border-left: 4px solid var(--text-accent);
    margin-left: 1em;
    padding-left: 1em;
  }
}

.archive-month {
  @extend %clearfix;

  @include breakpoint(medium) {
    align-items: center;
    display: flex;
    justify-content: left;
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 1em;
    transition: 0.2s;

    &:hover {
      h3::before {
        background-color: var(--text-accent);
        transition: 0.25s;
      }
    }
  }

  h3 {
    @extend %fancy-type;

    min-width: 200px;
    position: relative;

    @include breakpoint(medium) {
      margin: 0;
    }

    .no-flexbox & {
      float: left;
    }

    &::before {
      @include breakpoint(medium) {
        background-color: var(--text-accent);
        border-radius: $border-radius;
        content: "";
        height: 0.5em;
        left: -2.1em;
        position: absolute;
        top: 0.3em;
        transition: 0.2s;
        width: 0.5em;
      }
    }
  }

  ul {
    margin-bottom: 0;
    margin-top: 0;

    .no-flexbox & {
      float: left;
      width: 500px;
    }
  }
}
