.brag-heading {
  margin-top: 1em;
}

.brag-heading,
.brag {
  margin-bottom: 1em;
}

.brag-site {
  margin-bottom: 0.5em;
}

.brags {
  &:target {
    padding-top: $body-padding-top / 2;
    transition: 0.5s;
  }
}

.brag-ul {
  margin-top: 0;
}
