%btn {
  border-radius: 2em;
  color: $text-color;
  display: inline-block;
  padding: 0.3em 1.25em;
  text-decoration: none;
}

.btn {
  @extend %btn;

  background: $white;
  font-size: $font-small;
  margin-bottom: 0.5em;

  &:hover {
    text-decoration: none;
  }

  .icon {
    height: 24px;
  }

  .icon-twitter {
    left: -4px;
    position: relative;
    top: 4px;
  }
}

.btn-disabled {
  color: darken($body-bg, 20%);
}
