
.btn {

  @extend %fancy-type;

  border: 2px solid transparent;
  color: $link-color;
  display: inline-block;
  padding: .25em .5em;

  &:hover,
  &.active {
    border: 2px solid;
    color: $text-color;
    text-decoration: none;
  }

}


.btn-o {
  border: 1px solid;
  color: $text-color;
  display: inline-block;
  font-size: $font-small;
  margin-bottom: .5em;
  padding: .25em .5em;

  &:hover {
    text-decoration: none;
  }

}
