
.btn {
  display: inline-block;
  border: 1px solid $link-color;
  padding: 0.2em 0.75em;
  border-radius: $border-radius-img;
  color: $link-color;
  @extend .fancy-type;
  &:hover, &.active {
    color: rgba($link-color,0.5);
    text-decoration: none;
  }
}
