.category {
  margin-bottom: 1em;
  padding-bottom: 1em;

  &:nth-child(odd) {
    background: darken($body-bg, 3%);
    border-bottom: 1px dashed $body-bg;
    border-top: 1px dashed $body-bg;
  }

  &:target {
    padding-top: $body-padding-top / 2;
    transition: .5s;
  }

  + .footer {
    margin-top: -1em;
  }

}

.category-recents {

  @extend %clearfix;

  @include breakpoint(gt-mobile) {
    margin-bottom: 2em;
    margin-top: 3em;
  }

  .icon-ul {

    @include breakpoint(gt-mobile) {
      margin: 0;
    }

  }

  li:last-child a {

    @include breakpoint(gt-mobile) {
      margin-right: 0;
    }

  }

  .icon-li {

    @include breakpoint(gt-mobile) {
      display: none;
    }

  }

}

.category-recent {

  @include breakpoint(mobile) {
    align-items: center;
    display: flex;
    justify-content: left;
    padding: .2em 0;
  }

  @include breakpoint(gt-mobile) {
    display: block;
    float: left;
    margin-right: 4%;
    width: 22%;
  }

  .category-title {

    @include breakpoint(gt-mobile) {
      display: block;
      font-size: $font-xs;
      margin-top: .75em;
      padding: 0 .25em;
    }

  }

}

.category-recents,
.category-olders {

  .icon-ul {

    @extend %clearfix;

    margin-bottom: 0;
  }

}

.category-thumb {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include breakpoint(gt-mobile) {
    border-radius: $border-radius-img;
    display: block;
    padding-bottom: 100%;
    width: 100%;
  }

  @include breakpoint(mobile) {
    display: none;
  }

}

.category-olders {
  clear: both;

  .category-older {
    position: relative;
  }

}

.badge {

  @extend %code-type;

  background: $white;
  border-radius: $border-radius-img;
  display: inline-block;
  font-size: .5em;
  height: 2em;
  line-height: 1.5;
  padding: .25em .5em;
  text-align: center;
  vertical-align: middle;
  width: 2em;
}


.tag-container {
  margin-bottom: 1em;
  padding-bottom: 1em;

  &:nth-child(odd) {
    background: darken($body-bg, 3%);
    border-bottom: 1px dashed $body-bg;
    border-top: 1px dashed $body-bg;
  }

  &:target {
    padding-top: $body-padding-top / 2;
    transition: .5s;
  }

}

// scss-lint:disable PlaceholderInExtend, VendorPrefixes
.tags-columns {

  @extend .hide-small;
  -moz-columns: 4 150px;
  -webkit-columns: 4 150px;
  columns: 4 150px;
  font-size: $font-xs;
  margin-bottom: 2em;

  ul {
    margin-bottom: 0;
    margin-top: 0;
  }

  li { -webkit-column-break-inside: avoid;}

}
