code, pre {
	background: white;
	border-radius: 0.2em;
	@extend .code-type;
	// prism.js
	white-space: pre;
	word-spacing: normal;
	word-break: break-word;
	tab-size: 4;
	hyphens: none;

}
pre {
	margin: 1em 0;
	padding: 2em;
	@extend .small;
	code {
		padding: 0;
		background: none;
	}
}
code {
	padding: 0 0.25em;
}


// Adapted from https://gist.github.com/edwardhotchkiss/2005058
.highlight {
	.c {color:$highlightComment;}
	.err {color:$highlightError;}
	.g {color:$highlightGeneric;}
	.k {color:$highlightKeyword;}
	.l {color:$highlightLiteral;}
	.n {color:$highlightName;}
	.o {color:$highlightOperator;}
	.x {color:$highlightOther;}
	.p {color:$highlightPunctuation;}
	.cm {color:$highlightCommentMultiline;}
	.cp {color:$highlightCommentPreproc;}
	.c1 {color:$highlightCommentSingle;}
	.cs {color:$highlightCommentSpecial;}
	.gd {color:$highlightGenericDeleted;}
	.ge {color:$highlightGenericEmph;}
	.ge {color:$highlightGenericEmph; font-style: italic}
	.gr {color:$highlightGenericError;}
	.gh {color:$highlightGenericHeading;}
	.gi {color:$highlightGenericInserted;}
	.go {color:$highlightGenericOutput;}
	.gp {color:$highlightGenericPrompt;}
	.gs {color:$highlightGenericStrong; font-weight: bold}
	.gu {color:$highlightGenericSubheading;}
	.gt {color:$highlightGenericTraceback;}
	.kc {color:$highlightKeywordConstant;}
	.kd {color:$highlightKeywordDeclaration;}
	.kn {color:$highlightKeywordNamespace;}
	.kp {color:$highlightKeywordPseudo;}
	.kr {color:$highlightKeywordReserved;}
	.kt {color:$highlightKeywordType;}
	.ld {color:$highlightLiteralDate;}
	.m {color:$highlightLiteralNumber;}
	.s {color:$highlightLiteralString;}
	.na {color:$highlightNameAttribute;}
	.nb {color:$highlightNameBuiltin;}
	.nc {color:$highlightNameClass;}
	.no {color:$highlightNameConstant;}
	.nd {color:$highlightNameDecorator;}
	.ni {color:$highlightNameEntity;}
	.ne {color:$highlightNameException;}
	.nf {color:$highlightNameFunction;}
	.nl {color:$highlightNameLabel;}
	.nl {color:$highlightNameLabel;}
	.nn {color:$highlightNameNamespace;}
	.nx {color:$highlightNameOther;}
	.py {color:$highlightNameProperty;}
	.nt {color:$highlightNameTag;}
	.nv {color:$highlightNameVariable;}
	.ow {color:$highlightOperatorWord;}
	.w {color:$highlightTextWhitespace;}
	.mf {color:$highlightLiteralNumberFloat;}
	.mh {color:$highlightLiteralNumberHex;}
	.mi {color:$highlightLiteralNumberInteger;}
	.mo {color:$highlightLiteralNumberOct;}
	.sb {color:$highlightLiteralStringBacktick;}
	.sc {color:$highlightLiteralStringChar;}
	.sd {color:$highlightLiteralStringDoc;}
	.s2 {color:$highlightLiteralStringDouble;}
	.se {color:$highlightLiteralStringEscape;}
	.sh {color:$highlightLiteralStringHeredoc;}
	.si {color:$highlightLiteralStringInterpol;}
	.sx {color:$highlightLiteralStringOther;}
	.sr {color:$highlightLiteralStringRegex;}
	.s1 {color:$highlightLiteralStringSingle;}
	.ss {color:$highlightLiteralStringSymbol;}
	.bp {color:$highlightNameBuiltinPseudo;}
	.vc {color:$highlightNameVariableClass;}
	.vg {color:$highlightNameVariableGlobal;}
	.vi {color:$highlightNameVariableInstance;}
	.il {color:$highlightLiteralNumberIntegerLong;}

}
