pre.highlight {
  max-height: 400px;
  overflow: auto;
}

code,
pre {
  @extend %code-type;

  background: var(--switch);
  border-radius: $border-radius;
  color: var(--text-accent);
  hyphens: none;
  tab-size: 4;
  white-space: pre-wrap;
  word-break: break-word;
  word-spacing: normal;
}

pre {
  margin: 1em 0;
  padding: 1em;

  code {
    background: none;
    padding: 0;
  }
}

code {
  padding: 0 0.25em;

  a & {
    color: inherit;
  }
}

// Adapted from https://gist.github.com/edwardhotchkiss/2005058
.highlight {
  .c {
    color: var(--highlightone);
  }

  .err {
    color: var(--highlighttwo);
  }

  .g {
    color: var(--highlighttwo);
  }

  .k {
    color: var(--highlightthree);
  }

  .l {
    color: var(--highlighttwo);
  }

  .n {
    color: var(--highlighttwo);
  }

  .o {
    color: var(--highlightthree);
  }

  .x {
    color: var(--highlightfour);
  }

  .p {
    color: var(--highlighttwo);
  }

  .cm {
    color: var(--highlightone);
  }

  .cp {
    color: var(--highlightthree);
  }

  .c1 {
    color: var(--highlightone);
  }

  .cs {
    color: var(--highlightthree);
  }

  .gd {
    color: var(--highlightfive);
  }

  .ge {
    color: var(--highlighttwo);
    font-style: italic;
  }

  .gr {
    color: var(--highlightsix);
  }

  .gh {
    color: var(--highlightfour);
  }

  .gi {
    color: var(--highlightthree);
  }

  .go {
    color: var(--highlighttwo);
  }

  .gp {
    color: var(--highlighttwo);
  }

  .gs {
    color: var(--highlighttwo);
    font-weight: bold;
  }

  .gu {
    color: var(--highlightfour);
  }

  .gt {
    color: var(--highlighttwo);
  }

  .kc {
    color: var(--highlightfour);
  }

  .kd {
    color: var(--highlightseven);
  }

  .kn {
    color: var(--highlightthree);
  }

  .kp {
    color: var(--highlightthree);
  }

  .kr {
    color: var(--highlightseven);
  }

  .kt {
    color: var(--highlightsix);
  }

  .ld {
    color: var(--highlighttwo);
  }

  .m {
    color: var(--highlightfive);
  }

  .s {
    color: var(--highlightfive);
  }

  .na {
    color: var(--highlighttwo);
  }

  .nb {
    color: var(--highlighteight);
  }

  .nc {
    color: var(--highlightseven);
  }

  .no {
    color: var(--highlightfour);
  }

  .nd {
    color: var(--highlightseven);
  }

  .ni {
    color: var(--highlightfour);
  }

  .ne {
    color: var(--highlightfour);
  }

  .nf {
    color: var(--highlightseven);
  }

  .nl {
    color: var(--highlighttwo);
  }

  .nn {
    color: var(--highlighttwo);
  }

  .nx {
    color: var(--highlightnine);
  }

  .py {
    color: var(--highlighttwo);
  }

  .nt {
    color: var(--highlightseven);
  }

  .nv {
    color: var(--highlightseven);
  }

  .ow {
    color: var(--highlightthree);
  }

  .w {
    color: var(--highlighttwo);
  }

  .mf {
    color: var(--highlightfive);
  }

  .mh {
    color: var(--highlightfive);
  }

  .mi {
    color: var(--highlightfive);
  }

  .mo {
    color: var(--highlightfive);
  }

  .sb {
    color: var(--highlightone);
  }

  .sc {
    color: var(--highlightfive);
  }

  .sd {
    color: var(--highlighttwo);
  }

  .s2 {
    color: var(--highlightfive);
  }

  .se {
    color: var(--highlightfour);
  }

  .sh {
    color: var(--highlighttwo);
  }

  .si {
    color: var(--highlightfive);
  }

  .sx {
    color: var(--highlightfive);
  }

  .sr {
    color: var(--highlightsix);
  }

  .s1 {
    color: var(--highlightfive);
  }

  .ss {
    color: var(--highlightfive);
  }

  .bp {
    color: var(--highlightseven);
  }

  .vc {
    color: var(--highlightseven);
  }

  .vg {
    color: var(--highlightseven);
  }

  .vi {
    color: var(--highlightseven);
  }

  .il {
    color: var(--highlightfive);
  }
}
