.footer {
  background: $header-bg;
  margin-top: 2em;
  position: relative;
  z-index: 100;

  .container {
    padding-bottom: 2em;
    padding-top: 3em;
  }

  .nav {
    @extend %flex-center-inline;
    @extend %flex-space-between;
    @extend %flex-wrap;

    margin-top: 1em;
    max-width: 250px;
    width: 100%;
  }

  .nav-link {
    text-decoration: none;

    &.nav-link:hover {
      color: $link-hover;
      text-decoration: none;
    }
  }
}

.bio {
  @extend %flex;
  @extend %flex-space-between;

  margin-bottom: 1em;

  .bio-img,
  .bio-details {
    @extend %flex-child;
  }

  .bio-img.bio-img {
    @extend %flex-child-no-shrink;

    display: none;

    @include breakpoint(medium) {
      display: block;
      margin-right: 2em;
    }
  }

  .bio-img-container {
    margin: 0;
    width: 200px;

    img {
      border-radius: 100%;
      margin: 0;
    }
  }
}
