.front-page {
  @include breakpoint(medium) {
    background: linear-gradient(
      90deg,
      $body-bg 0%,
      $body-bg 55%,
      $white 55%,
      $white 100%
    );
  }

  .btn {
    margin-right: 0.5em;
  }

  .post-prev-next {
    @extend %flex-wrap;
  }

  @include breakpoint(medium) {
    .container {
      padding: 0;
    }

    .header {
      display: none;
    }

    .post-prev-next {
      margin-bottom: 1em;
    }
  }
}

.front-page-grid {
  margin: 0 auto;
  max-width: 1280px;

  @include breakpoint(medium) {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 55% 45%;
    grid-template-columns: 55% 45%;

    .content {
      margin: 1em 1em 0 2em;
    }

    .footer {
      background: $white;
      margin-top: 0;
      min-height: 100vh;
      // order: -1;
      padding: 2em 1em 0;
      position: relative;
    }

    .bio {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 0;
      max-width: 700px;
    }

    .nav {
      text-align: center;
    }

    .bio {
      .bio-details {
        max-width: 450px;
        text-align: center;
      }
      .bio-img.bio-img {
        margin-bottom: 1em;
      }
    }
  }
}

.all-posts {
  .front-page & {
    padding-left: 1.5em;
  }

  @include breakpoint(medium) {
    .front-page & {
      padding-left: 2em;
    }
  }

  .post-meta {
    .no-flexbox & {
      padding-top: 2em;
    }
  }

  .post-emoji {
    display: inline-block;
    position: relative;
    text-indent: -1.5em;
    top: 2px;

    @include breakpoint(medium) {
      text-indent: -2em;
    }
  }

  .post-date {
    color: $text-color-light;
  }
}

.post-link {
  @extend %flex;

  color: $text-color;
  display: block;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  text-decoration: none;

  &:hover {
    text-decoration: none;

    .post-img {
      background-color: transparent;
      transition: $link-transition;
    }
  }
}

.project-image,
.post-img-container {
  display: none;

  @include breakpoint(medium) {
    align-items: center;
    border-radius: $border-radius-img;
    display: flex;
    height: 7.5em;
    justify-content: left;
    margin-right: 2em;
    overflow: hidden;
    width: 10em;

    .post-img {
      //background-blend-mode: overlay;
      //background-color: rgba($body-bg, .3);
      background-position: center;
      background-size: cover;
      height: 100%;
      margin: 0;
      transition: $link-transition;
      width: 100%;
    }
  }
}

.post-title {
  @extend %fancy-type;

  font-size: 1em;
}

.paginator {
  margin-top: 1em;
}

.post-elsewhere-label .icon {
  color: $link-color;
  font-size: 0.8em;
}

.post-tags {
  display: none;

  .post-page & {
    margin-top: 1em;
  }

  @include breakpoint(medium) {
    display: block;
    .front-page & {
      display: inline-block;
      margin-left: 0.5em;
    }
  }

  .post-tag {
    .front-page & {
      @extend %xs;
    }

    background: $light-accent;
    border-radius: 1em;
    display: inline-block;
    margin-right: 0.5em;
    padding: 0.25em 0.75em;
    text-decoration: none;
  }

  a {
    color: darken($link-color, 15%);

    &:hover {
      color: $link-color;
    }
  }
}

.btn.category {
  @extend %flex-child-no-shrink;

  position: relative;
  margin-right: 0.25em;
  padding: 0.3em 0.5em;

  @include breakpoint(medium) {
    &:hover {
      &::after,
      &::before {
        font-size: 0.7em;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: 100;
      }

      &::after {
        border-left: 0.4em solid transparent;
        border-right: 0.4em solid transparent;
        border-top: 0.4em solid $dark-accent;
        content: "";
        height: 0;
        margin-top: -0.875em;
        width: 0;
      }

      &::before {
        background: $dark-accent;
        border-radius: inherit;
        color: $white;
        content: attr(title);
        padding: 0.25em 0.75em;
        top: -1.5em;
      }
    }
  }
}
