.home-page {
  margin: 0 auto;
  max-width: 1280px;

  @include breakpoint(medium) {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 45% 55%;
    grid-template-columns: 45% 55%;

    .content {
      margin: 1em 1em 0 2em;
      order: 2;
    }

    .footer {
      background: var(--background-accent);
      margin-top: 0;
      min-height: 100vh;
      padding: 2em 1em 0;
      position: relative;
      order: 1;

      .container {
        position: -webkit-sticky;
        position: sticky;
        top: 2em;
      }
    }

    .bio {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 0;
      max-width: 700px;
    }

    .nav {
      text-align: center;
    }

    .bio {
      .bio-details {
        max-width: 450px;
        text-align: center;
      }
      .bio-img.bio-img {
        margin-bottom: 1em;
      }
    }
  }

  @include breakpoint(medium) {
    background: linear-gradient(
      90deg,
      var(--background-accent) 0%,
      var(--background-accent) 45%,
      var(--background) 45%,
      var(--background) 100%
    );
  }

  .btn {
    margin-right: 0.5em;
  }

  .post-prev-next {
    @extend %flex-wrap;
  }

  @include breakpoint(medium) {
    .container {
      padding: 0;
    }

    .post-prev-next {
      margin-bottom: 1em;
    }
  }
}

.all-posts {
  .home-page & {
    padding-left: 1.5em;
    max-width: 600px;
  }

  @include breakpoint(medium) {
    .home-page & {
      padding-left: 2em;
    }
  }

  .post-meta {
    .no-flexbox & {
      padding-top: 2em;
    }
  }

  .post-emoji {
    display: inline-block;
    position: relative;
    text-indent: -1.5em;
    top: 0.25em;

    @include breakpoint(medium) {
      text-indent: -2em;
    }
  }

  .post-date {
    color: var(--text-accent);
  }
}

.post-link {
  @extend %flex;

  color: var(--text-color);
  display: block;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  text-decoration: none;

  &:hover {
    text-decoration: none;

    .post-img {
      background-color: transparent;
      transition: var(--link-transition);
    }
  }
}

.project-image,
.post-img-container {
  display: none;

  @include breakpoint(medium) {
    align-items: center;
    border-radius: $border-radius-img;
    display: flex;
    height: 7.5em;
    justify-content: left;
    margin-right: 2em;
    overflow: hidden;
    width: 10em;

    .post-img {
      background-position: center;
      background-size: cover;
      height: 100%;
      margin: 0;
      transition: var(--link-transition);
      width: 100%;
    }
  }
}

.post-title {
  @extend %fancy-type;

  font-size: 1em;
}

.paginator {
  margin-top: 1em;
}

.post-elsewhere-label .icon {
  color: var(--link);
  font-size: 0.8em;
}

.post-tags {
  display: none;

  .post-page & {
    margin-top: 0.25em;
  }

  @include breakpoint(medium) {
    display: block;
    .home-page & {
      display: inline-block;
      margin-left: 0.5em;
    }
  }

  .post-tag {
    @extend %xs;

    display: inline-block;
    margin-right: 1.5em;
    text-decoration: none;

    svg {
      vertical-align: middle;
      width: 1em;
      color: var(--link-hover);
    }
  }
}

.nav-link,
.btn.category {
  @extend %flex-child-no-shrink;

  @extend %flex-center-inline;

  position: relative;
  padding: 0.3em 0.5em;
  height: 45px;
  width: 45px;

  @include breakpoint(medium) {
    &:focus,
    &:hover {
      &::after,
      &::before {
        font-size: 0.7em;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: 100;
      }

      &::after {
        border-left: 0.4em solid transparent;
        border-right: 0.4em solid transparent;
        border-top: 0.4em solid var(--link);
        content: "";
        height: 0;
        top: -0.4em;
        width: 0;
      }

      &::before {
        background: var(--link);
        border-radius: 0.5em;
        color: var(--background);
        content: attr(title);
        font-size: $font-xs;
        padding: 0.25em 0.75em;
        top: -1.5em;
      }
    }
  }
}
