.all-posts,
.front-page .post-prev-next {
  //margin: 0 auto;
  //width: $container-width * .65;
}


.all-posts {
  padding-left: 1.5em;

  .post-meta {

    .no-flexbox & { padding-top: 2em;}

  }

  .post-emoji {
    display: inline-block;
    text-indent: -1.5em;
  }

  .post-date {
    color: $text-color-light;
  }

}

.post-link {

  @extend %clearfix;

  @extend %flex;

  color: $text-color;
  display: block;
  padding-bottom: 1em;
  padding-top: 1em;

  &:hover {
    text-decoration: none;

    .post-img {
      background-color: transparent;
      transition: $link-transition;
    }

  }

}



.project-image,
.post-img-container {
  display: none;

  @include breakpoint(gt-mobile) {
    align-items: center;
    border-radius: $border-radius-img;
    display: flex;
    height: 7.5em;
    justify-content: left;
    margin-right: 2em;
    overflow: hidden;
    width: 10em;

    .post-img {
      //background-blend-mode: overlay;
      //background-color: rgba($body-bg, .3);
      background-position: center;
      background-size: cover;
      height: 100%;
      margin: 0;
      transition: $link-transition;
      width: 100%;
    }

  }

}


.post-title {

  @extend %fancy-type;

  font-size: 1em;

  @include breakpoint(mobile) {
    font-size: 1.5em;
  }

}

.paginator {
  margin-top: 1em;
}

.post-elsewhere-label .icon {
  color: $link-color;
  font-size: .8em;
}
