.all-posts {
  padding-left: 1.5em;

  @include breakpoint(gt-mobile) {
    padding-left: 2em;
  }

  .post-meta {
    .no-flexbox & {
      padding-top: 2em;
    }
  }

  .post-emoji {
    display: inline-block;
    position: relative;
    text-indent: -1.5em;
    top: 2px;

    @include breakpoint(gt-mobile) {
      text-indent: -2em;
    }
  }

  .post-date {
    color: $text-color-light;
  }
}

.post-link {
  @extend %flex;

  color: $text-color;
  display: block;
  padding-bottom: 0.5em;
  padding-top: 0.5em;

  &:hover {
    text-decoration: none;

    .post-img {
      background-color: transparent;
      transition: $link-transition;
    }
  }
}

.project-image,
.post-img-container {
  display: none;

  @include breakpoint(gt-mobile) {
    align-items: center;
    border-radius: $border-radius-img;
    display: flex;
    height: 7.5em;
    justify-content: left;
    margin-right: 2em;
    overflow: hidden;
    width: 10em;

    .post-img {
      //background-blend-mode: overlay;
      //background-color: rgba($body-bg, .3);
      background-position: center;
      background-size: cover;
      height: 100%;
      margin: 0;
      transition: $link-transition;
      width: 100%;
    }
  }
}

.post-title {
  @extend %fancy-type;

  font-size: 1em;
}

.paginator {
  margin-top: 1em;
}

.post-elsewhere-label .icon {
  color: $link-color;
  font-size: 0.8em;
}

.categories {
  @extend %xs;

  margin-bottom: 2em;

  .category {
    border-radius: 1em;
    display: block;
    margin-bottom: 0.5em;
    padding: 0.25em 1em;

    @include breakpoint(gt-mobile) {
      display: inline-block;
      margin-bottom: 0;
      margin-right: 0.5em;
    }

    &.active,
    &:hover {
      background: $white;
      text-decoration: none;
    }
  }
}

.post-tag-container {
  display: block;

  @include breakpoint(gt-mobile) {
    display: inline-block;
    margin-left: 0.5em;
  }

  .post-tag-item {
    @extend %xs;

    background: $light-accent;
    border-radius: 1em;
    display: inline-block;
    margin-right: 1em;
    padding: 0 0.75em;
  }
}
