.header {

  background-color: rgba($header-bg, .85);
  margin-bottom: 2em;
  position: relative;

  @extend %clearfix;

  a {
    padding-bottom: .75em;
    padding-top: .75em;
  }

}

.logo {
  color: $dark-accent;

  @extend %fancy-type;

  @include breakpoint(gt-mobile) {
    float: left;
    font-size: 1.25em;
    left: -.25em;
    position: relative;
  }

  &:hover {
    text-decoration: none;
  }

}
