.header {
  @extend %clearfix;

  background-color: rgba($header-bg, 0.85);
  margin-bottom: 1em;
  position: relative;

  .post-page & {
    margin-bottom: 2em;
  }

  .logo {
    @extend %small;
    @extend %fancy-type;

    color: $dark-accent;
    display: block;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    text-decoration: none;

    &:hover {
      color: $link-hover;
    }
  }
}
