.header {
  @extend %clearfix;

  background-color: rgba($header-bg, 0.85);
  margin-bottom: 2em;
  position: relative;

  .logo {
    @extend %small;
    @extend %fancy-type;

    color: $dark-accent;
    display: block;
    padding-bottom: 0.5em;
    padding-top: 0.5em;

    &:hover {
      text-decoration: none;
    }
  }
}
