.header {

  @extend %clearfix;

  background-color: rgba($header-bg, .85);
  margin-bottom: 2em;
  position: relative;

  a {
    display: block;
    padding-bottom: .75em;
    padding-top: .75em;
  }

}

.logo {

  @extend %fancy-type;

  color: $dark-accent;


  @include breakpoint(gt-mobile) {
    float: left;
    left: -.25em;
    position: relative;
  }

  &:hover {
    text-decoration: none;
  }

}
