.icon-ul {
  list-style-type: none;
  margin-left: 2.14285714em;
  padding-left: 0;
}

.icon-ul > li {
  position: relative;
}

.icon-li {
  left: -2.14285714em;
  position: absolute;
  text-align: center;
  top: 0.25em;
  width: 2.14285714em;
}

.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  stroke: currentColor;
  stroke-width: 0;
  width: 1em;
}

.icon-music {
  width: 0.8571395426988602em;
}

.icon-tag {
  width: 0.8454238213598728em;
}

.icon-play {
  width: 0.7851562518626451em;
}

.icon-pause {
  width: 0.8571436069905758em;
}

.icon-bookmark {
  width: 0.7142851911485195em;
}

.icon-angle-left {
  width: 0.3750009909272194em;
}

.icon-angle-right {
  width: 0.3392861280590296em;
}

.icon-map-signs {
  width: 1.000000961124897em;
}

.icon-map {
  width: 0.9999999906867743em;
}
