
.icon-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}

.icon-ul>li {
  position: relative;
}

.icon-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: .14285714em;
  text-align: center;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
font-size: 32px;
color: red;
}
========================================== */

.icon-music {
  width: 0.8571395426988602em;
}

.icon-tag {
  width: 0.8454238213598728em;
}

.icon-play {
  width: 0.7851562518626451em;
}

.icon-pause {
  width: 0.8571436069905758em;
}

.icon-bookmark {
  width: 0.7142851911485195em;
}

.icon-angle-left {
  width: 0.3750009909272194em;
}

.icon-angle-right {
  width: 0.3392861280590296em;
}

.icon-map-signs {
  width: 1.000000961124897em;
}

.icon-map {
  width: 0.9999999906867743em;
}
