.container {
  max-width: $container-width;
  min-height:1em;
  margin-left: auto;
  margin-right: auto;


  position: relative;
  @extend .clearfix;
  padding-left: 1em;
  padding-right: 1em;
}
.half-left,.half-right {
  @include breakpoint(gt-mobile) {
    width: 48%;
    float: left;
  }
}
.half-left {
  @include breakpoint(gt-mobile) {margin-right:4%;}
}

.columns {
  @extend .small;
  columns: 2 290px;
  column-gap: 3em;
  .fa-ul { margin-top: 0;}
  .fa-li { top: 0.3em; }
  li {
    display: block;
    padding: 0.2em 0;
    -webkit-column-break-inside: avoid;
  }
}

img.emoji {
  max-width: none;
  margin: 0;
  display: inline-block;
}
