.container {
  @extend %clearfix;

  margin-left: auto;
  margin-right: auto;
  max-width: $container-width;
  min-height: 1em;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
}

.container-large {
  max-width: $media-max;
}

.half-left,
.half-right {
  @include breakpoint(medium) {
    float: left;
    width: 48%;
  }
}

.half-left {
  @include breakpoint(medium) {
    margin-right: 4%;
  }
}

// scss-lint:disable VendorPrefixes
.columns {
  -moz-column-gap: 3em;
  -webkit-column-gap: 3em;
  column-gap: 3em;
  -moz-columns: 3 100px;
  -webkit-columns: 3 100px;
  columns: 3 100px;

  @include breakpoint(medium) {
    font-size: $font-xs;
  }

  .icon-ul {
    margin-top: 0;
  }

  li {
    -webkit-column-break-inside: avoid;
    display: block;
    padding: 0.2em 0;
  }
}

.emoji {
  display: inline-block;
  margin: 0;
  max-width: none;
}
