// From http://css-tricks.com/media-queries-sass-3-2-and-codekit/
@mixin breakpoint($point) {
  @if $point == medium {
    @media (min-width: 50em) {
      @content;
    }
  } @else if $point == small {
    @media (max-width: 50em) {
      @content;
    }
  } @else if $point == big {
    @media (min-width: 70em) {
      @content;
    }
  }
}

@mixin clearfix() {
  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}
