.nav {
  position: relative;
  margin: 0;
  padding: 0;
  transition: .25s;
  list-style: none;

  li {
    display: inline-block;
    margin: 0;
  }
}

.navbar {

  .header & { 
    @include breakpoint(mobile) { display: none;  } 
    @include breakpoint(gt-mobile) { float: right; }
  }
  .footer & {
   @include breakpoint(gt-mobile) { display: none; }
   .nav-link {
    display: block;
    padding: 0.5em 0;
  }
}

li { @include breakpoint(mobile) { display: block;} }

}




.header {

  .nav-link {
    display: block;
    color: $link-color;

    line-height: 1;
    @extend .xs;
    position: relative;
    margin-top: 0.8em;
    margin-right: 0.1em;
    border-radius:  0.5em;
    min-height: 1em;
    padding:  0.5em 1em;

    &:hover { 
      background: $body-bg;

    }

  }

  .active .nav-link, .nav-link:hover {
    text-decoration: none;
    background: $body-bg;
  }
}

