.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  transition: 0.25s;

  li {
    display: inline-block;
    margin: 0;
  }
}

.navbar {
  .footer & {
    @include breakpoint(medium) {
      display: none;
    }

    .nav-link {
      display: block;
      margin-bottom: 0.25em;
    }
  }

  li {
    @include breakpoint(small) {
      display: block;
    }
  }
}

.header {
  .nav-link {
    border-bottom: 2px solid transparent;
    color: $link-color;
    display: block;
    font-size: $font-xs;
    line-height: 1;
    margin-left: 1.5em;
    margin-top: 1em;
    min-height: 1em;
    padding: 0.5em 0;
    position: relative;
  }

  .active .nav-link,
  .nav-link:hover {
    border-bottom-color: $link-hover;
    color: $link-hover;
    text-decoration: none;
    transition: $link-transition;
  }
}
