.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  transition: .25s;

  li {
    display: inline-block;
    margin: 0;
  }

}

.navbar {

  .header & {

    @include breakpoint(mobile) { display: none;  }

    @include breakpoint(gt-mobile) { float: right; }

  }

  .footer & {

    @include breakpoint(gt-mobile) { display: none; }

    .nav-link {
      display: block;
      padding: .5em 0;
    }

  }

  li {

    @include breakpoint(mobile) { display: block;}

  }

}




.header {

  .nav-link {
    border-bottom: 2px solid transparent;
    color: $link-color;
    display: block;
    font-size: $font-xs;
    line-height: 1;
    margin-left: 1.5em;
    margin-top: 1.5em;
    min-height: 1em;
    padding: .5em 0;
    position: relative;
  }

  .active .nav-link,
  .nav-link:hover {
    border-bottom-color: $link-hover;
    color: $link-hover;
    text-decoration: none;
    transition: $link-transition;
  }

}

