.playlist-meta {
  margin-bottom: 3em;
  text-align: center;

  svg {
    vertical-align: sub;
    margin-right: 0.25em;
  }
}

.playlist-nostalgia {
  display: block;
  font-style: italic;
}

// scss-lint:disable VendorPrefixes
.playlist {
  -moz-column-gap: 3em;
  -webkit-column-gap: 3em;
  column-gap: 3em;
  -moz-columns: 2 290px;
  -webkit-columns: 2 290px;
  columns: 2 290px;

  margin-bottom: 2em;
}

.playlist-track {
  -webkit-column-break-inside: avoid;
  margin-bottom: 1em;
}

.track-name {
  @extend %fancy-type;
}

.track-artist {
  font-weight: bold;
}

.track-meta {
  color: var(--text-accent);
  font-size: $font-xs;
}

.rdio-playlist-link {
  margin-bottom: 2em;
}

.playlist-container {
  margin-bottom: 1em;
  padding-bottom: 1em;

  &:nth-child(even) {
    background: var(--text-accent);
    border-bottom: 1px dashed var(--background-accent);
    border-top: 1px dashed var(--background-accent);
  }

  &:target {
    padding-top: $body-padding-top / 2;
    transition: 0.5s;
  }
}
