.post {
  @media (max-width: $container-width) {
    padding-left: 1em;
    padding-right: 1em;
  }

  h1,
  h2,
  h3,
  h3,
  h4,
  p,
  ul,
  ol,
  figcaption,
  pre,
  blockquote,
  .playlist,
  table,
  .footnotes,
  .books,
  .note {
    margin-left: auto;
    margin-right: auto;
  }

  ol,
  ul {
    max-width: $container-width - ($body-font-size * 2);
  }

  li {
    margin-bottom: 0.7em;

    ul {
      margin-top: 0.7em;
    }
  }

  p,
  pre,
  .playlist,
  figcaption,
  .caption,
  h1,
  h2,
  h3,
  h4,
  blockquote,
  .note,
  .books,
  .footnotes {
    max-width: $container-width - ($body-font-size * 2);
  }

  // scss-lint:disable SelectorFormat
  .photos,
  .cp_embed_iframe,
  embed,
  .gist,
  iframe,
  .media,
  table {
    @extend %clearfix;

    border: 0;
    display: block;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: $media-max;
    position: relative;

    @media (max-width: $media-max) and (min-width: $container-width) {
      padding-left: 1em;
      padding-right: 1em;
    }

    picture,
    img,
    video {
      margin-bottom: 0.5em;
      margin-top: 0;
    }

    picture ~ .caption,
    img ~ .caption {
      margin: 0;
    }

    .caption ~ picture,
    .caption ~ img {
      margin-top: 1em;
    }

    [data-src] {
      opacity: 0;
      transition: opacity 0.3s ease-in;
    }
  }

  // scss-lint:disable PropertySortOrder, DeclarationOrder
  .photos {
    @include breakpoint(medium) {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: left;
      -webkit-justify-content: left;
      -ms-flex-pack: left;
      justify-content: left;
    }
  }

  table {
    border: 1px solid var(--background-accent);
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;

    caption {
      color: var(--text-color);
      font: italic 85%/1 arial, sans-serif;
      padding: 1em 0;
      text-align: center;
    }

    td {
      background-color: var(--background-accent);
    }

    td,
    th {
      border-left: 1px solid var(--background-accent);
      border-width: 0 0 0 1px;
      font-size: inherit;
      margin: 0;
      overflow: visible;
      padding: 0.5em 1em;
    }

    td:first-child,
    th:first-child {
      border-left-width: 0;
    }

    thead {
      background-color: var(--background-accent);
      color: var(--text-color);
      text-align: left;
      vertical-align: bottom;
    }
  }

  .note {
    @extend %flex-container;
    @extend %flex-space-between;

    background: var(--background-accent);
    border-left: 0.25em solid var(--link);
    padding: 1em 1em 0 1em;
    border-radius: 0 $border-radius $border-radius 0;
    margin-bottom: 1em;

    .svg-wrapper {
      @include breakpoint(medium) {
        color: var(--link);
        display: block;
        margin-top: 0.25em;

        svg {
          fill: var(--link);
          margin-right: 1em;
          width: 1.25em;
          height: 1.25em;
        }
      }
      display: none;
    }
  }

  .instagram-media {
    margin: 1em auto;
    width: 100%;

    @include breakpoint(medium) {
      width: 65%;
    }
  }
}

.post-header {
  position: relative;

  .container {
    z-index: 1;
  }
}

.post-footer {
  margin-top: 2em;
}

.post-twitter {
  margin-bottom: 1em;
}

.post-locations {
  color: var(--text-accent);

  .post-location svg {
    color: var(--text-accent);
    vertical-align: text-bottom;
  }
}

.post-twitter {
  svg {
    margin-right: 0.25em;
    vertical-align: sub;
    width: 20px;
  }
}

.post-footer-meta {
  margin-bottom: 2em;
}

.tag {
  display: inline-block;
  margin-bottom: 0.25em;

  &:hover {
    text-decoration: none;
  }
}

.post-date-updated {
  display: block;
  font-size: $font-xs;
  text-align: inherit;
}

.post-meta-header {
  color: var(--text-accent);
  margin-bottom: 0em;

  position: relative;
  z-index: 1;
}

svg {
  vertical-align: top;
  width: 1em;
}
.post-meta-breadcrumbs {
  margin-bottom: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: var(--background-accent);
}
.breadcrumbs,
.post-meta-date {
  font-size: $font-xs;
}

.post-meta-date {
  .post-meta-header-has-map & {
    background-color: var(--background-accent);
    display: inline-block;
    padding: 0.1em 0.5em;
    border-radius: 0.25em;
    margin-left: -0.5em;
    color: var(--text-color);
  }
}

.post-meta-link {
  text-decoration: none;
}

.post-prev-next {
  @extend %flex-container;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  margin-top: 1em;

  .prev-next-btns {
    @extend %flex-container;
    @extend %flex-wrap;

    margin-bottom: 1em;
  }

  @include breakpoint(medium) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .btn {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.post-prev,
.post-next {
  @extend %flex-center-inline;

  position: relative;
  transition: var(--link-transition);

  @include breakpoint(medium) {
    min-height: 2em;
  }

  &:hover {
    text-decoration: none;
    transition: var(--link-transition);
  }
}

.post-prev {
  margin-right: 1em;
}

.post-next {
  @include breakpoint(small) {
    margin-top: 1em;
  }
  @include breakpoint(medium) {
    text-align: right;
  }
}

.post-prev-title,
.post-next-title {
  display: block;

  @include breakpoint(medium) {
    width: 100%;
  }
}

.post-prev-title {
  padding-left: 0.5em;
}

.post-next-title {
  padding-right: 0.5em;
}

figure {
  margin: 0 auto;
}

figcaption,
.caption,
caption {
  color: var(--text-accent);
  font-size: $font-xs;
}

figcaption {
  margin-bottom: 2em;
  margin-top: -1em;
}

.caption {
  margin-left: auto;
  margin-top: -2.5em;
  margin-right: auto;
  position: relative;
  z-index: 1;
}

.footnotes {
  margin-top: 4em;

  ol {
    padding-left: 1em;
  }

  li {
    font-size: $font-xs;

    &:target {
      color: var(--text-color);
    }
  }
}

.reversefootnote,
.footnote {
  @extend %xs;

  background: var(--background-accent);
  border-radius: $border-radius;
  color: var(--text-color);
  padding: 0 0.25em;
  margin: 0 0.25em;
  text-decoration: none;
}

.badge {
  @extend %xs;

  background: var(--background-accent);
  border-radius: 1em;
  padding: 0 0.5em;
  vertical-align: middle;
}
