
.post {

  @media (max-width: $container-width) {
    padding-left: 1em;
    padding-right: 1em;
  }

  h1,
  h2,
  h3,
  h3,
  h4,
  p,
  ul,
  ol,
  figcaption,
  pre,
  blockquote,
  .playlist,
  table,
  .footnotes {
    margin-left: auto;
    margin-right: auto;
  }

  ol,
  ul {
    max-width: $container-width - ($body-font-size * 2);
  }

  blockquote {
    max-width: $container-width - ($body-font-size * 10);
  }

  p,
  pre,
  .playlist,
  figcaption,
  h1,
  h2,
  h3,
  h4,
  .footnotes {
    max-width: $container-width - ($body-font-size * 2);
  }

  // scss-lint:disable SelectorFormat
  .photos,
  .cp_embed_iframe,
  embed,
  .gist,
  iframe,
  .media,
  table {

    @extend %clearfix;

    border: 0;
    display: block;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: $media-max;
    position: relative;

    @media (max-width: $media-max) and (min-width: $container-width) {
      padding-left: 1em;
      padding-right: 1em;
    }

    img {
      margin-bottom: .5em;
      margin-top: 0;
    }

    [data-src] {
      opacity: 0;
      transition: opacity .3s ease-in;
    }

  }

  @include breakpoint(gt-mobile) {

    .photos {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
    }

  }

  table {
    border: 1px solid darken($light-accent, 10%);
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;

    caption {
      color: $text-color;
      font: italic 85%/1 arial,sans-serif;
      padding: 1em 0;
      text-align: center;
    }

    td {
      background-color: $white;
    }

    td,
    th {
      border-left: 1px solid darken($light-accent, 10%);
      border-width: 0 0 0 1px;
      font-size: inherit;
      margin: 0;
      overflow: visible;
      padding: .5em 1em;
    }

    td:first-child,
    th:first-child {
      border-left-width: 0;
    }

    thead {
      background-color: $light-accent;
      color: $text-color;
      text-align: left;
      vertical-align: bottom;
    }

  }

  .note {
    background: $light-accent;
    border-left: .25em solid darken($light-accent, 10%);
    padding: 1em;
  }

}

.post-header {

  position: relative;

  .container { z-index: 1; }

}

.post-header-no-map {

  h1 {
    margin-bottom: .5em;
  }

}

.post-footer {
  margin-top: 2em;
}

.post-locations,
.post-tags {
  font-size: $font-xs;

  .fa {
    min-width: 1.25em;
  }

}

.post-locations {
  margin-bottom: 1em;
}

.tag {
  color: $fancy-accent-aa;
  display: inline-block;
  margin-bottom: .25em;

  &:hover {
    color: rgba($fancy-accent-aa, .5);
    text-decoration: none;
  }

}

.post-date-updated {
  display: block;
  font-size: $font-xs;
  text-align: inherit;
}

.post-page {

  .post-meta {
    color: $text-color-light;
    margin-bottom: 2em;
  }

}

.post-location { min-height: 1px; }

.post-prev-next {

  @extend %clearfix;

  clear: both;
  margin-top: 3em;
}

// scss-lint:disable VendorPrefixes, PropertySortOrder
.post-prev,
.post-next {
  display: block;
  margin-top: 1em;
  position: relative;
  transition: $link-transition;

  @include breakpoint(gt-mobile) {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    min-height: 2em;
    width: 50%;
  }

  &:hover {
    color: $text-color;
    text-decoration: none;
    transition: $link-transition;

    &:before,
    &:after {
      border-color: inherit;
      color: $text-color;
      transition: $link-transition;
    }

  }

}

// scss-lint:disable VendorPrefixes,PropertySortOrder
.post-prev {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;

  @include breakpoint(gt-mobile) {
    left: -2.75em;
  }

}

// scss-lint:disable VendorPrefixes,PropertySortOrder
.post-next {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  @include breakpoint(gt-mobile) {
    right: -2.75em;
  }

}

.post-prev:before,
.post-next:after {

  font-family: FontAwesome;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  position: relative;

  @include breakpoint(gt-mobile) {
    border: 2px solid transparent;
    display: block;
    height: 2em;
    line-height: 2em;
    position: absolute;
    text-align: center;
    top: 0;
    transition: $link-transition;
    vertical-align: middle;
    width: 2em;

    &:hover {
      border: 2px solid;
      color: $text-color;
    }

  }

}

.post-prev:before {
  content: '\f104';
  left: 0;
}

.post-next:after {
  content: '\f105';
  right: 0;
}

.post-prev-title,
.post-next-title {

  font-size: $font-small;

  @include breakpoint(gt-mobile) {
    display: block;
  }

}

.post-prev-title {

  @include breakpoint(gt-mobile) {padding-left: 3em; }

}

.post-next-title {

  @include breakpoint(gt-mobile) {padding-right: 3em; }

}


figure {
  margin: 0 auto;
}

figcaption {
  color: lighten($text-color, 20%);
  font-size: $font-xs;
  margin-bottom: 1em;
  margin-top: .5em;
  text-align: right;
}

.everything-link {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  float: left;
  padding-bottom: 10%;
  width: 10%;
}

.footnotes {

  margin-top: 4em;

  ol { padding-left: 1em; }

  li {
    font-size: $font-xs;

    &:target {
      color: $fancy-accent;
    }

  }

}

.reversefootnote {
  background: $white;
  border-radius: .1em;
  color: $text-color;
  display: inline-block;
  padding: .2em;
  margin-left: .5em;

  &:hover {
    text-decoration: none;
  }

}
