.page-resume {
  @media print {
    .post-meta-breadcrumbs {
      margin-bottom: 0em;
      margin-left: -0.25em;
    }
    .post-meta-breadcrumbs svg,
    .post-meta-breadcrumbs span {
      display: none;
    }
  }

  .content {
    margin-bottom: 2em;
    font-size: 18px;

    @media screen and (min-width: 600px) {
      display: grid;
      grid-gap: 0 1em;
    }

    h2,
    p,
    li {
      margin-bottom: 0.25em;
    }

    h2,
    p + h2,
    ul + h2,
    h2 + p,
    h2 + ul {
      margin-bottom: 1em;
    }

    a {
      color: var(--link);
      &:hover {
        color: var(--link-hover);
      }
    }
  }

  ul,
  p {
    @media screen and (min-width: 600px) {
      grid-column: 2 / 2;
    }
  }

  h2 {
    letter-spacing: 0.075em;
    font-size: 1em;
    text-transform: uppercase;
    margin-top: 0;
    color: var(--text-accent);

    @media screen {
      padding-right: 1em;
      border-right: 0.25rem solid var(--background-accent);
    }

    @media screen and (min-width: 600px) {
      grid-column: 1 / 2;
      text-align: right;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  ul > li:last-child ul {
    margin-bottom: 0;
  }

  li {
    line-height: 1.3;
    display: block;
    @media screen {
      color: var(--text-accent);

      strong,
      em {
        color: var(--text-color);
      }
    }
    ul {
      margin-bottom: 1em;
    }

    li {
      color: var(--text-color);

      display: inline;
    }
  }
}
