.page-resume {

  padding-top: 0;

  h1 {

    @extend %body-type;

    @extend %text-left;

    font-size: 1.75em;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 1em;
  }

  h2 {

    @extend %body-type;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 1em;
    font-style: normal;
    margin: 1em 0;
  }

  h3 {

    @extend %body-type;

    font-weight: 700;
    margin-bottom: 0;
    margin-top: .5em;
  }

  ul {
    font-size: $font-small;
    list-style-type: disc;
    margin-bottom: 2em;
    padding-left: 1em;
  }

  li {
    line-height: 1.3;
    margin-bottom: .5em;
  }

  .skills {
    columns: 3 200px;
    font-size: $font-small;
    list-style: none;
    margin-top: 1em;
    padding: 0;

    li {
      -webkit-column-break-inside: avoid;
    }

  }

  .inline {
    color: lighten($dark-accent, 15%);
    font-size: $font-small;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
    }
  }
}
