.front-page-resume {
  .content {
    margin-bottom: 2em;
    font-size: 18px;

    @media print {
      font-size: 16px;
    }

    a {
      color: var(--link);
      &:hover {
        color: var(--link-hover);
      }
    }

    ul {
      display: none;
      margin: -2em 0 2em;
      padding: 0;
      li {
        display: inline-block;
        margin-right: 2em;
      }
      @media print {
        display: block;
      }
    }
  }

  h1 {
    font-size: 1em;
    text-transform: uppercase;
    padding-bottom: 0.25em;
    margin-bottom: 1em;
    border-bottom: 1px solid var(--background-accent);

    + h2 {
      margin-top: 0;
    }

    + p {
      margin-top: 1em;
    }
  }

  h2 {
    font-weight: normal;

    @media print {
      font-size: 1em;
      margin-bottom: 0;
      margin-top: 1em;
    }
  }
}
