.review-thumbs,
.topnine-thumbs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 0.5em;

  picture,
  img {
    margin: 0 !important;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::before {
    content: "";
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  & > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  svg {
    top: 0.25em;
    color: var(--text-color);
    position: absolute;
    left: 0.25em;
  }
}

.review-thumb,
.topnine-thumb {
  display: block;
  position: relative;
  background: var(--background-accent);
}

.review-thumb {
  overflow: hidden;

  .review-thumbs-title {
    position: absolute;
    bottom: 0;
    font-size: $font-xs;
    left: 0;
    right: 0;
    padding: 0.25em 0.75em;
    background: var(--background-accent);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.review-container + .container {
  margin-top: 1em;
}
