* {  box-sizing: border-box;}

html,
body {
  margin: 0;
  padding: 0;
}

body {

  @extend %body-type;
  background-color: $body-bg;
  color: $text-color;
  font-size: $body-font-size;
  line-height: 1.45;
  text-rendering: optimizeLegibility;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: $link-transition;

  &:hover {
    color: $link-hover;
    text-decoration: underline;
    transition: $link-transition;
  }

}

.img-center {
  display: block;
  margin: 0 auto;
}

%text-left { text-align: left;}

.text-right { text-align: right;}


.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

img {
  display: block;
  margin: 2em auto;
}


.img-polaroid {
  background-color: $white;
  border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  margin: 1em .25em 2em;
  padding: .25em;
}


.img-half {

  @include breakpoint(gt-mobile) { width: 49.6%; }

}

.img-thirds {

  @include breakpoint(gt-mobile) {
    width: 32.89%;
  }

}

.thirds {
  float: left;
  margin-bottom: 1em;

  @include breakpoint(gt-mobile) { width: 31.8%;}

}

.img-fourths {

  @include breakpoint(gt-mobile) { width: 24%; }

}

.img-split-wide,
.img-wide {

  @include breakpoint(gt-mobile) { width: 62.7%; }

}

.img-split-tall,
.img-tall {

  @include breakpoint(gt-mobile) { width: 35.25%; }

}

.rotate-left { transform: rotate(-90deg);}

.img-half,
.img-thirds,
.img-fourths,
.img-split-wide,
.img-wide,
.img-split-tall,
.img-tall {

  @include breakpoint(gt-mobile) {
    display: inline-block;
  }

}
