.search-input {
  -webkit-appearance: none;
  border: 0;
  border-radius: $border-radius;
  font-family: inherit;
  font-size: 1.25em;
  margin: 1em auto;
  padding: 0.5em;
  width: 100%;
}

.result {
  margin-bottom: 2em;

  @include breakpoint(medium) {
    align-items: center;
    display: flex;
    justify-content: left;
  }

  p {
    margin-bottom: 0;
  }
}

.result-emoji {
  width: 3em;
  align-self: baseline;
}
