.search-input {
  -webkit-appearance: none;
  border: 0;
  border-radius: .25em;
  font-family: inherit;
  font-size: 1.25em;
  margin: 2em auto 1em;
  padding: .5em;
  width: 100%;
}

.result {
  margin-bottom: 2em;

  @include breakpoint(gt-mobile) {
    align-items: center;
    display: flex;
    justify-content: left;
  }

  p { margin-bottom: 0; }
}

.result-img {
  height: 150px;
  margin: 0 2em 0 0;
  object-fit: cover;
  width: 150px;

  @include breakpoint(mobile) {
    display: none;
  }
}

