%body-type {
  font-family: $body-font-family;
  font-weight: $body-font-weight;
}

%fancy-type {
  font-family: $fancy-font-family;
  font-weight: $fancy-font-weight;
}

%headings-type {
  font-weight: $body-font-weight;
}

%code-type {
  font-family: $code-font-family;
}

strong {
  font-weight: $body-font-bold;
}

em {
  font-style: italic;
}

.lead {
  font-size: 1.5em;
  text-align: justify;
}

p {
  margin-bottom: 1.3em;
  margin-top: 0;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  margin: 1.414em 0 0.5em;
}

h1,
.h1 {
  @extend %fancy-type;

  font-size: $h1-size;
  margin-top: 0;
}

h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-weight: 700;
}

h2,
.h2,
h3,
.h3 {
  @extend %headings-type;
}

h2,
.h2 {
  font-size: $h2-size;
}

h3,
.h3 {
  font-size: $h3-size;
}

h4,
.h4 {
  font-size: $h4-size;
}

.xl {
  font-size: 1.5em;
}

%large,
.large {
  font-size: 1.25em;
}

%small,
small,
.small {
  font-size: $font-small;

  @include breakpoint(small) {
    font-size: 1em;
  }
}

%xs,
.xs {
  font-size: $font-xs;

  @include breakpoint(small) {
    font-size: 1em;
  }
}

%xxs,
.xxs {
  font-size: 0.6em;

  @include breakpoint(small) {
    font-size: 1em;
  }
}

ul,
ol {
  margin-bottom: 1em;
}

ol {
  list-style: decimal;
}

.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  border: 1px solid $white;
  margin: 2em auto;
  max-width: 70%;
}

blockquote {
  margin: 2em auto;
  position: relative;

  p {
    @extend %fancy-type;

    font-size: 1.25em;
  }

  cite {
    @extend %code-type;

    display: block;
    font-size: 0.5em;
    font-style: normal;
  }

  &::before {
    color: darken($accent, 10%);
    content: "\201C";
    display: block;
    font-size: 8em;
    height: 1em;
    left: -0.1em;
    line-height: 1;
    position: absolute;
    top: -0.2em;
    width: 1em;
    z-index: -1;
  }
}

.big {
  font-size: 7em;
  line-height: 1;
  margin-bottom: 0.25em;
}

::selection {
  background: $fancy-accent;
  color: $white;
}
