

%body-type {
  font-family: $body-font-family;
  font-weight: $body-font-weight;
}

%fancy-type {
  font-family: $fancy-font-family;
  font-style: italic;
  font-weight: $fancy-font-weight;
}

%headings-type { font-weight: $body-font-bold; }

%code-type {font-family: $code-font-family;}

strong { font-weight: $body-font-bold; }

em { font-style: italic; }

.lead {

  @extend %fancy-type;

  font-size: 1.3em;
  text-align: justify;
}

p {
  margin-bottom: 1.3em;
  margin-top: 0;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  margin: 1.414em 0 .5em;
}

h1 {

  @extend %fancy-type;

  font-size: $h1-size;
  margin-top: 0;

  @include breakpoint(mobile) { font-size: 2em;}

}

h2 {

  @extend %fancy-type;

  font-size: $h2-size;
}

h3,
h4 {  @extend %headings-type; }

h3 {font-size: $h3-size;}

h4 {font-size: $h4-size;}

.xl {
  font-size: 1.5em;
}

.large {
  font-size: 1.25em;
}

small,
.small {

  font-size: $font-small;

  @include breakpoint(mobile) {
    font-size: 1em;
  }

}

.xs {

  font-size: $font-xs;

  @include breakpoint(mobile) {
    font-size: 1em;
  }

}

.xxs {

  font-size: .6em;

  @include breakpoint(mobile) {
    font-size: 1em;
  }

}


ul,
ol {
  margin-bottom: 1em;
}

ol { list-style: decimal; }

.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  border: 1px solid $accent;
  margin: 2em auto;
  max-width: 70%;
}

blockquote {
  margin: 2em auto;
  position: relative;

  p {

    @extend %fancy-type;

    font-size: 1.25em;
  }

  cite {

    @extend %code-type;

    display: block;
    font-size: .5em;
    font-style: normal;

  }

  &:before {
    color: darken($accent, 10%);
    content: '\201C';
    display: block;
    font-size: 8em;
    height: 1em;
    left: -.1em;
    line-height: 1;
    position: absolute;
    top: -.2em;
    width: 1em;
    z-index: -1;
  }
}

.big {
  font-size: 7em;
  line-height: 1;
  margin-bottom: .25em;
}

::selection {
  background: $fancy-accent;
  color: $white;
}


.fa-li {
  top: 8px;
}
