%clearfix {
  zoom: 1;

  &::before,
  &::after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }

  &::after {
    clear: both;
  }
}

img {
  max-width: 100%;
}

.hide {
  display: none;
}

.hide-small {
  @include breakpoint(small) {
    display: none;
  }
}

%flex {
  align-items: center;
  display: flex;
  justify-content: left;
}

// scss-lint:disable VendorPrefixes, PropertySortOrder
%flex-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

// scss-lint:disable VendorPrefixes, PropertySortOrder
%flex-center-inline {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

%flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

%flex-child {
  display: block;
  max-width: 100%;
}

%flex-child-no-shrink {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

%flex-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

%flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

%text-right,
.text-right {
  text-align: right;
}

%text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}
