//////////////// primary

// flatuicolors.com inspo

$body-bg: #f6f6f6;
$dark-accent: #2c3e50;
$light-accent: #ecf0f1;
$fancy-accent: #e74c3c;
$fancy-accent-aa: darken($fancy-accent, 7%);
$white: #fff;
$black: #000;

$dark-transparent01: rgba(0, 0, 0, 0.1);
$dark-transparent02: rgba(0, 0, 0, 0.2);

$link: #2980b9;

$link-color: darken($link, 4%);
$link-hover: darken($link, 15%);
$link-transition: 0.1s;

$body-font-size: 24px;
$font-small: 0.889em;
$font-xs: 0.7em;

$text-color: #333;
$text-color-light: lighten($text-color, 20%);

$code-font-family: "IBM Plex Mono", "Courier New", monospace;
$fancy-font-family: "IBM Plex Serif", Georgia, serif;
$body-font-family: "IBM Plex Sans", Arial, sans-serif;

$body-font-weight: 300;
$body-font-bold: 700;
$fancy-font-weight: 400;

$container-width: 800px;
$media-max: 1000px;

$border-radius-img: 0.15em;

$h1-size: 1.602em;
$h1-size-map: $h1-size;
$h2-size: 1.266em;
$h3-size: 1.125em;
$h4-size: 1em;

$border-radius: 0.2em;

$body-padding-top: 4em;

$header-bg: $white;
$accent: rgba(241, 247, 248, 1);

/////////////// Code Highlighter
// Adapted from https://gist.github.com/edwardhotchkiss/2005058

$highlightone: #586e75;
$highlighttwo: #93a1a1;
$highlightthree: #859900;
$highlightfour: #cb4b16;
$highlightfive: #2aa198;
$highlightsix: #dc322f;
$highlightseven: #268bd2;
$highlighteight: #b58900;
$highlightnine: #555;

$highlightcomment: $highlightone;
$highlighterror: $highlighttwo;
$highlightgeneric: $highlighttwo;
$highlightkeyword: $highlightthree;
$highlightliteral: $highlighttwo;
$highlightname: $highlighttwo;
$highlightoperator: $highlightthree;
$highlightother: $highlightfour;
$highlightpunctuation: $highlighttwo;
$highlightcommentmultiline: $highlightone;
$highlightcommentpreproc: $highlightthree;
$highlightcommentsingle: $highlightone;
$highlightcommentspecial: $highlightthree;
$highlightgenericdeleted: $highlightfive;
$highlightgenericemph: $highlighttwo;
$highlightgenericemph: $highlighttwo;
$highlightgenericerror: $highlightsix;
$highlightgenericheading: $highlightfour;
$highlightgenericinserted: $highlightthree;
$highlightgenericoutput: $highlighttwo;
$highlightgenericprompt: $highlighttwo;
$highlightgenericstrong: $highlighttwo;
$highlightgenericsubheading: $highlightfour;
$highlightgenerictraceback: $highlighttwo;
$highlightkeywordconstant: $highlightfour;
$highlightkeyworddeclaration: $highlightseven;
$highlightkeywordnamespace: $highlightthree;
$highlightkeywordpseudo: $highlightthree;
$highlightkeywordreserved: $highlightseven;
$highlightkeywordtype: $highlightsix;
$highlightliteraldate: $highlighttwo;
$highlightliteralnumber: $highlightfive;
$highlightliteralstring: $highlightfive;
$highlightnameattribute: $highlighttwo;
$highlightnamebuiltin: $highlighteight;
$highlightnameclass: $highlightseven;
$highlightnameconstant: $highlightfour;
$highlightnamedecorator: $highlightseven;
$highlightnameentity: $highlightfour;
$highlightnameexception: $highlightfour;
$highlightnamefunction: $highlightseven;
$highlightnamelabel: $highlighttwo;
$highlightnamelabel: $highlighttwo;
$highlightnamenamespace: $highlighttwo;
$highlightnameother: $highlightnine;
$highlightnameproperty: $highlighttwo;
$highlightnametag: $highlightseven;
$highlightnamevariable: $highlightseven;
$highlightoperatorword: $highlightthree;
$highlighttextwhitespace: $highlighttwo;
$highlightliteralnumberfloat: $highlightfive;
$highlightliteralnumberhex: $highlightfive;
$highlightliteralnumberinteger: $highlightfive;
$highlightliteralnumberoct: $highlightfive;
$highlightliteralstringbacktick: $highlightone;
$highlightliteralstringchar: $highlightfive;
$highlightliteralstringdoc: $highlighttwo;
$highlightliteralstringdouble: $highlightfive;
$highlightliteralstringescape: $highlightfour;
$highlightliteralstringheredoc: $highlighttwo;
$highlightliteralstringinterpol: $highlightfive;
$highlightliteralstringother: $highlightfive;
$highlightliteralstringregex: $highlightsix;
$highlightliteralstringsingle: $highlightfive;
$highlightliteralstringsymbol: $highlightfive;
$highlightnamebuiltinpseudo: $highlightseven;
$highlightnamevariableclass: $highlightseven;
$highlightnamevariableglobal: $highlightseven;
$highlightnamevariableinstance: $highlightseven;
$highlightliteralnumberintegerlong: $highlightfive;
