//////////////// primary

$list: background background-accent text-accent link link-hover text-color;

$background: #f6f6f6;
$background-accent: #fff;
$text-color: #2d323e;
$link: #9c5b74;
$link-hover: darken($link, 10%);
$text-accent: #6e6e6e;

:root {
  --always-background: #{$background}; // var does not change at dark theme
  --always-dark: #{$text-color}; // var does not change at dark theme
  --background: #{$background};
  --background-accent: #{$background-accent};
  --link: #{$link};
  --link-hover: #{$link-hover};
  --switch: #{$background-accent};
  --text-accent: #{$text-accent};
  --text-color: #{$text-color};
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #{$text-color};
    --background-accent: #{lighten($text-color, 5%)};
    --link: #{lighten($link, 25%)};
    --link-hover: #{lighten($link, 10%)};
    --switch: #{darken($text-color, 10%)};
    --text-accent: #{lighten($text-accent, 20%)};
    --text-color: #dedede;
  }
}

$body-font-size: 24px;
$font-small: 0.889em;
$font-xs: 0.7em;

$code-font-family: "IBM Plex Mono", "Courier New", monospace;
$fancy-font-family: "IBM Plex Serif", Georgia, serif;
$body-font-family: "IBM Plex Sans", Arial, sans-serif;

$body-font-weight: 300;
$body-font-bold: 700;
$fancy-font-weight: 400;

$container-width: 800px;
$media-max: 1000px;
$link-transition: 0.1s;

$border-radius-img: 0.15em;

$h1-size: 1.602em;
$h1-size-map: $h1-size;
$h2-size: 1.266em;
$h3-size: 1.125em;
$h4-size: 1em;

$border-radius: 0.2em;
$body-padding-top: 4em;

// swatches

.swatches {
  @extend %flex;
  @extend %flex-space-between;

  margin-bottom: 5em;
}

@each $color in $list {
  .swatch#{"-" + $color} {
    background: var(--$color);
    width: 100px;
    height: 100px;
    border-radius: $border-radius;
    border: 1px solid white;
    position: relative;

    &:before {
      content: "#{$color}";
      position: absolute;
      top: calc(100% + 0.5em);
      font-size: 0.6em;
      text-align: center;
      width: 100%;
    }
  }
}

/////////////// Code Highlighter
// Adapted from https://gist.github.com/edwardhotchkiss/2005058

$highlightone: #586e75;
$highlighttwo: #7f9090;
$highlightthree: #859900;
$highlightfour: #cb4b16;
$highlightfive: #2aa198;
$highlightsix: #dc322f;
$highlightseven: #268bd2;
$highlighteight: #b58900;
$highlightnine: #777474;

:root {
  --highlightone: #{$highlightone};
  --highlighttwo: #{$highlighttwo};
  --highlightthree: #{$highlightthree};
  --highlightfour: #{$highlightfour};
  --highlightfive: #{$highlightfive};
  --highlightsix: #{$highlightsix};
  --highlightseven: #{$highlightseven};
  --highlighteight: #{$highlighteight};
  --highlightnine: #{$highlightnine};
}

$highlighters: highlightone highlighttwo highlightthree highlightfour
  highlightfive highlightsix highlightseven highlighteight highlightnine;

@each $color in $highlighters {
  .swatch#{"-" + $color} {
    background: var(--$color);
    width: 50px;
    height: 50px;
    border-radius: $border-radius;
    border: 1px solid white;
    position: relative;

    &:before {
      content: "#{$color}";
      position: absolute;
      top: calc(100% + 0.5em);
      font-size: 0.5em;
      text-align: center;
      width: 100%;
    }
  }
}
