---
layout: no-header
title: Resume
---

{% for item in site.data.resume %}
{% for header in item.header %}
<h1>{{ header.name }}</h1>
<ul class="inline">
{% for about in header.contents %}
<li>{% if about.link %}<a href="{{about.link}}">{% endif %}{{ about.text }}{% if about.link %}</a>{% endif %} {% if forloop.last %}{% else %} &times; {% endif %}</li>
{% endfor %}
</ul>
{% endfor %}
{% for section in item.section %}
{% if section.show != false %}
<section class="resume-{{ section.heading | downcase }}{% if section.heading == 'Notables' or section.heading == 'Speaking' or section.heading == 'Volunteer' or section.heading == 'Projects' or section.heading == 'Writing' %} print-hide{% endif %}">
<h2>{{ section.heading }}</h2>
{% include resume/experience.html %}
{% include resume/education.html %}
{% include resume/writing.html %}
{% include resume/speaking.html %}
{% include resume/projects.html %}
{% include resume/volunteer.html %}
{% include resume/notables.html %}
</section>
{% endif %}
{% endfor %}
{% endfor %}