---
layout: default
title: Adventures
---


<!-- This loops through the paginated posts -->
<ul class="posts">
	{% for post in paginator.posts %}
	<li style="{{% if post.img %}}background-image:url({{ post.image }});{{% else %}}background-color:#ddd;{{% endif %}}">
		<a href="{% if paginator.page > 1 %}../{% endif %}..{{ post.url }}">{{ post.title }} on {{ post.date | date: "%B %d, %Y" }} <span class="label label-{{ post.category }}"><i class="icon-tag">&nbsp;</i>{{ post.category }}</span></a>
	</li>
	{% endfor %}
</ul>

<!-- Pagination links -->
<div class="pager">
	{% if paginator.previous_page %}
	<a href="http://katydecorah.com/adventures/{% if paginator.previous_page == 1 %}{% else %}page{{ paginator.previous_page }}{% endif %}" class="previous"><i class="icon-arrow-left"></i></a>
	{% endif %}
	<span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
	{% if paginator.next_page %}
	<a href="http://katydecorah.com/adventures/page{{ paginator.next_page }}" class="next"><i class="icon-arrow-right"></i></a>
	{% endif %}
</div>
