---
layout: default
title: Adventures
---


<!-- This loops through the paginated posts -->
<ul>
{% for post in paginator.posts %}
  <li><a href="{{ post.url }}">{{ post.title }}</a> &mdash; <span class="date">{{ post.date | date: "%B %d, %Y" }}</span> <span class="label label-{{ post.category }}"><i class="icon-tag">&nbsp;</i>{{ post.category }}</span></li>
{% endfor %}
</ul>

<!-- Pagination links -->
<div class="pager">
  {% if paginator.previous_page %}
    <a href="/{% if paginator.previous_page == 1 %}{% else %}page{{ paginator.previous_page }}{% endif %}" class="previous"><i class="icon-arrow-left"></i></a>
  {% endif %}
  	<span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="next"><i class="icon-arrow-right"></i></a>
  {% endif %}
</div>