---
layout: no-title
title: Time Capsule
---
{% comment %}
{% for post in site.posts  %}
{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
{% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
{% if forloop.first %}<a href="#{this_year}}">{{this_year}}</a>{% endif %}{% if this_year != next_year %}<a href="#{{next_year}}">{{next_year}}</a>{% endif %}
{% endfor %}
{% endcomment %}

{% for post in site.posts  %}
{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
{% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
{% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
{% capture next_month %}{{ post.previous.date | date: "%B" }}{% endcapture %}

{% if forloop.first %}
<div class="archive-year year-{{this_year}}" id="{{this_year}}">
<h2><a href="/{{this_year}}">{{this_year}}</a></h2>
<div class="archive-months">
<div class="archive-month">
<h3>{{ this_month }}</h3>
<ul class="fa-ul">
{% endif %}
<li><a href="{{ post.url }}"><i class="fa fa-angle-right fa-li"></i> {{ post.title }}</a></li>
{% if forloop.last %}
</ul>
</div>
</div>
</div>
{% else %}
{% if this_year != next_year %}
</ul>
</div>
</div>
</div>
<div class="archive-year year-{{next_year}}" id="{{next_year}}">
{% if next_year > '2010' %}<h2><a href="/{{next_year}}">{{next_year}}</a></h2>{% else %}<h2>{{next_year}}</h2>{% endif %}
<div class="archive-months">
<div class="archive-month">
<h3>{{ next_month }}</h3>
<ul class="fa-ul">
{% else %}
{% if this_month != next_month %}
</ul>
</div>
<div class="archive-month">
<h3>{{ next_month }}</h3>
<ul class="fa-ul">
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
