<!DOCTYPE html>
<html lang="en">
  <head>
    {%- include head.html -%}
  </head>
  <body
    class="{{layout.layout | slugify}}-page {{page.layout | slugify}}-page page-{{ page.title | slugify }}"
  >
    <a class="skip" href="#content">Skip to content</a>
    {%- unless layout.hideHeader -%}{%- include post-meta.html -%}{%- endunless
    -%}
    <main
      aria-label="Content"
      id="content"
      class="{% if page.layout == 'default' %}container {% endif %}content"
    >
      <h1
        class="{%- if page.hideTitle or layout.hideTitle -%}visually-hidden{%- endif -%}"
      >
        {{ page.title }}
      </h1>
      {{ content }}
    </main>
    {%- include footer.html -%} {%- include end.html -%}
  </body>
</html>
