{% include top.html %}
<body class="post-page default-page">
{% include skip.html %}
<div class="post-header{% if page.locations %} post-header-has-map{% else %} post-header-no-map{% endif %}{% if page.locations and (page.mapType == "" or page.mapType == nil) %} post-map-header-google{% endif %}{% if page.mapType%} post-map-header-mapbox{% endif %}">
<div class="container">
{% include header.html %}
<h1>{{ page.title }}</h1>
</div>
{% include post-map-header.html %}
</div>
<div class="container" id="content">
<div class="post">
{% if page.rdio %}<div class="rdio-playlist-link"><a href="{{page.rdio}}"><i class="fa fa-music btn-circle"></i> Rdio playlist</a></div>{% endif %}
{{ content }}
{% if page.browser %}<p class="meta-browser">Demos looking strange in your browser? I used {{page.browser}}.</p>{% endif %}
<div class="post-footer">
{% include locations.html %}
{% include tags.html %}
{% include prev-next.html %}
</div>
</div>
</div>
{% include footer.html %}
{% include end.html %}
</body>
</html>
