{% include top.html %}
<body class="post-page default-page">
{% include header.html %}
<div class="post-header{% if page.locations %} post-header-has-map{% else %} post-header-no-map{% endif %}">
{% include post-map-header.html %}
<div class="container"><h1>{{ page.title }}</h1></div>
</div>
<div class="container" id="content">{% if page.categories[0] %}{% assign category = page.categories[0] | downcase %}
<div class="post-meta"><span class="post-meta-emoji">{% if page. emoji %}{{page.emoji}}{% else %}{{site.data.emoji[category]}}{% endif %}</span><a href="/{{ category}}" class="post-type">{{ page.categories[0] }}</a> &times; {{ page.date | date: "%B %-d, %Y" }}{% if page.elsewhere-site %} &times; <a href="{{ page.elsewhere-link }}">{{ page.elsewhere-site }}</a>{% endif %}</div>{% endif %}</div>
<div class="post">
{% if page.categories[0] == 'playlists' %}
{% capture src %}{{page.title | slugify}}.png{% endcapture %}
{% include img.html src=src class='img-half' alt='album art' %}
{% endif %}
{% unless page.categories[0] == 'playlists' %}{{ content }}{% endunless %}
{% if page.recipe %}<p class="recipe-meta">Recipe: <a href="{{ page.recipe }}">{{ page.recipe-title }}</a></p>{% endif %}
{% if page.categories[0] == 'playlists' %}{% include single-playlist.html %}{% endif %}{% if page.credits %}<p class="xs text-right">{{ page.credits }}.</p>{% endif %}
</div>
<div class="container">
<div class="post-footer">
<div class="post-footer-meta">
{% include locations.html %}
{% include twitter.html %}
{% include tags.html %}
</div>
{% include prev-next.html %}
</div>
</div>
{% include footer.html %}
{% include end.html %}</body>
</html>
