{% include top.html %}
<body class="post-page default-page">
	<div class="container" id="content">
		<div class="post">
			<p class="breadcrumb" id="nav"><a href="http://katydecorah.com/" class="salutation">Katy DeCorah</a> &gt; <a href="http://katydecorah.com/#adventures">Adventures</a> in <a href="http://katydecorah.com/categories/#{{ page.category | downcase }}">{{ page.category }}</a></p>
			<h1>{{ page.title }}</h1>
			{{ content }}
		</div>
		<div class="side">
			{% include post-side.html %}
		</div>
	</div>
	{% include footer.html %}
	{% if page.category == "coding" %}
	<script async src="http://codepen.io/assets/embed/ei.js"></script>
	{% endif %}
	{% include end.html %}
</body>
</html>