{% include top.html %}
<body class="default-page page-{{ page.title | downcase | replace:' ','_'  }}">
{% include skip.html %}
<div class="container">
<div class="content" id="content">

{% for item in site.data.resume %}
{% for header in item.header %}
<h1>{{ header.name }}</h1>
<ul class="inline">
{% for about in header.contents %}
<li>{% if about.link %}<a href="{{about.link}}">{% endif %}{{ about.text }}{% if about.link %}</a>{% endif %} {% if forloop.last %}{% else %} &bull; {% endif %}</li>
{% endfor %}
</ul>
{% endfor %}
{% for section in item.section %}
<h2{% if section.heading == 'Notables' or section.heading == 'Speaking' or section.heading == 'Outreach' %} class="print-hide"{% endif %}>{{ section.heading }}</h2>
{% include resume/experience.html %}
{% include resume/other-experience.html %}
{% include resume/education.html %}
{% include resume/skills.html %}
{% include resume/speaking.html %}
{% include resume/outreach.html %}
{% include resume/notables.html %}
{% endfor %}
{% endfor %}
</div>
</div>
{% include footer.html %}
{% include end.html %}
</body>
</html>