{% include top.html %}

<body
  class="default-page page-review page-{{ page.title | downcase | replace:' ','_' | replace: '!',''  }}"
>
  {% include header.html %}
  <div class="content" id="content">
    <div class="container">
      <h1>{{ page.title }}</h1>

      <div class="review-thumbs">
        {% for post in site.posts reversed %} {% capture year %}{{ post.date |
        date: "%Y" }}{% endcapture %} {% capture pageYear %}{{ page.title }}{%
        endcapture %} {% if year == pageYear %}
        <a href="{{post.url}}" class="review-thumb" title="{{post.title}}">
          {% include img.html src=post.image alt=post.title %}
        </a>
        {% endif %} {% endfor %}
      </div>

      {% for data in site.data.top-ten %}{% if data.year == page.title %} {% if
      data.topnine %}
      <h2>Instagram top 9</h2>
      <div class="topnine-thumbs">
        {% for img in data.topnine %}<a href="{{img}}" class="topnine-thumb"
          ><!--{% include icons/instagram.svg %}-->
          <img src="{{img}}media/?size=l" alt="" /> </a
        >{% endfor %}
      </div>
      {% endif %} {% if data.favorites %}
      <h2>Favorites</h2>
      <ul>
        {% for fav in data.favorites %}
        <li>{% for f in fav %}<a href="{{f[1]}}">{{f[0]}}</a>{% endfor %}</li>
        {% endfor %}
      </ul>
      {% endif %} {% if data.albums.size > 0 %}
      <h2>Most listened albums</h2>
      <ol>
        {% for album in data.albums %}
        <li>{{album}}</li>
        {% endfor %}
      </ol>
      {% endif %}
      <h2>Most listened tracks</h2>
      {% assign img = page.title | append: '.png' %} {% include img.html src=img
      alt="most listened tracks album art" %} {% if data.spotify %} {% include
      icons/music.svg %}
      <a href="{{ data.spotify }}" class="playlist-rdio">Listen on Spotify</a>{%
      endif %}
      <ol>
        {% for track in data.tracks %}
        <li>{{track}}</li>
        {% endfor %}
      </ol>
      {% endif %}{% endfor %}

      <div class="post-prev-next">
        {% assign lastYear = pageYear | minus: 1 %} {% assign nextYear =
        pageYear | plus: 1 %} {% if site.years contains lastYear %}<a
          href="/{{ lastYear }}"
          class="post-prev pull-left"
          >{% include icons/chevron-left.svg %}
          <span class="post-prev-title">{{ lastYear }}</span></a
        >{% endif %} {% if site.years contains nextYear %}<a
          href="/{{ nextYear }}"
          class="post-next pull-right text-right"
        >
          <span class="post-next-title">{{ nextYear }}</span> {% include
          icons/chevron-right.svg %}</a
        >{% endif %}
      </div>
    </div>
  </div>
  {% include footer.html %} {% include end.html %}
</body>
