{% include top.html %}
<body ng-app class="default-page page-review page-{{ page.title | downcase | replace:' ','_' | replace: '!',''  }}">
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>

{% include skip.html %}
{% include header.html %}
<div class="content" id="content">
<div class="container">
<h1 class="big">{{ page.title }}</h1>
{% assign playlistsCounter = 0 %}
{% assign adventuresCounter = 0 %}
{% assign codeCounter = 0 %}
{% assign notesCounter = 0 %}
{% assign teachingCounter = 0 %}
{% assign epicurean = 0 %}

{% assign playlistThumbs = '' %}

{% for post in site.posts reversed %}
{% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
{% capture pageYear %}{{ page.title }}{% endcapture %}
{% if year == pageYear %}
  {% if post.category == 'playlists' %}{% assign playlistsCounter = playlistsCounter | plus:1 %}{% endif %}
  {% if post.category == 'adventures' %}{% assign adventuresCounter = adventuresCounter | plus:1 %}{% endif %}
  {% if post.category == 'code' %}{% assign codeCounter = codeCounter | plus:1 %}{% endif %}
  {% if post.category == 'notes' %}{% assign notesCounter = notesCounter | plus:1 %}{% endif %}
  {% if post.category == 'epicurean' %}{% assign epicureanCounter = epicureanCounter | plus:1 %}{% endif %}
  {% if post.category == 'teaching' %}{% assign teachingCounter = teachingCounter | plus:1 %}{% endif %}
{% endif %}
{% endfor %}

<p class="review-text">
  I {% if adventuresCounter > 0 %} <input type="checkbox" ng-model="adventures" id="adventures"><label class="review-hover" for="adventures">had {{ adventuresCounter }} adventure{% if adventuresCounter > 1 %}s{% endif %}</label>,{% endif %}
  {% if codeCounter > 0 %}<input type="checkbox" ng-model="code" id="code"><label class="review-hover" for="code">wrote about code {{ codeCounter }} time{% if codeCounter > 1 %}s{% endif %}</label>,{% endif %}
  {% if teachingCounter > 0 %}<input type="checkbox" ng-model="teaching" id="teaching"><label class="review-hover" for="teaching">taught {{ teachingCounter }} class{% if teachingCounter > 1 %}es{% endif %}</label>,{% endif %}
  {% if notesCounter > 0 %}<input type="checkbox" ng-model="notes" id="notes"><label class="review-hover" for="notes">wrote {{notesCounter}} note{% if notesCounter > 1 %}s{% endif %}</label>,{% endif %}
  {% if epicureanCounter > 0 %}<input type="checkbox" ng-model="epicurean" id="epicurean"><label class="review-hover" for="epicurean">baked {{epicureanCounter}} new treat{% if epicureanCounter > 1 %}s{% endif %}</label>,{% endif %}
  {% if playlistsCounter > 0 %}and <input type="checkbox" ng-model="playlists" id="playlists"><label class="review-hover" for="playlists">made {{ playlistsCounter }} playlist{% if playlistsCounter > 1 %}s{% endif %}</label>{% endif %}.</p>
</div>

<div class="review-thumbs">
{% for post in site.posts reversed %}
{% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
{% capture pageYear %}{{ page.url | replace: '/','' }}{% endcapture %}
{% if year == pageYear %}
<a href="{{post.url}}" style="background-image:url({{post.image}})" class="review-thumb review-{{post.category}}" title="{{post.title}}" ng-show="{{post.category}}"></a>
{% endif %}
{% endfor %}
</div>

</div>
{% include footer.html %}
{% include end.html %}

</body>
</html>
