{% include top.html %}
<body class="default-page page-{{ page.title | downcase | replace:' ','_' | replace: '!',''  }}">
{% include skip.html %}
{% include header.html %}
<div class="container">
<div class="content" id="content">
<h1 class="big">{{ page.url | replace: '/','' }}</h1>

{% assign playlistsCounter = 0 %}
{% assign adventuresCounter = 0 %}
{% assign codeCounter = 0 %}
{% assign notesCounter = 0 %}
{% assign playlistThumbs = '' %}

{% for post in site.posts reversed %}
{% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
{% capture pageYear %}{{ page.title }}{% endcapture %}
{% if year == pageYear %}
  {% if post.category == 'playlists' %}{% assign playlistsCounter = playlistsCounter | plus:1 %}{% endif %}
  {% if post.category == 'adventures' %}{% assign adventuresCounter = adventuresCounter | plus:1 %}{% endif %}
  {% if post.category == 'code' %}{% assign codeCounter = codeCounter | plus:1 %}{% endif %}
  {% if post.category == 'notes' %}{% assign notesCounter = notesCounter | plus:1 %}{% endif %}
{% endif %}
{% endfor %}

<div>I made <span class="review-playlist review-hover">{{ playlistsCounter }} playlist{% if playlistsCounter > 1 or playlistsCounter == 0 %}s{% endif %}</span>, had <span class="review-adventures review-hover">{{ adventuresCounter }} adventure{% if adventuresCounter > 1 or adventuresCounter == 0 %}s{% endif %}</span>, wrote about <span class="review-code review-hover">code {{ codeCounter }} time{% if codeCounter > 1 or codeCounter == 0 %}s{% endif %}</span>, and wrote <span class="review-notes review-hover">{{notesCounter}} note{% if notesCounter > 1 or notesCounter == 0 %}s{% endif %}</span>.
<div class="review-thumbs">
{% for post in site.posts reversed %}
{% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
{% capture pageYear %}{{ page.url | replace: '/','' }}{% endcapture %}
{% if year == pageYear %}
<a href="{{post.url}}" style="background-image:url({{post.image}})" class="review-thumb review-category-{{post.category}}"></a>
{% endif %}
{% endfor %}
</div>
</div>

</div>
</div>
{% include footer.html %}
{% include end.html %}
</body>
</html>
