---
layout: no-container
title: Playlists
redirect_from: "/playlist-master/index.html"
---

<div class="container" id="content">
<div class="columns">
{% for item in site.data.playlists %}
<ul class="fa-ul">
{% for playlist in item.playlists reversed %}
<li><a href="#{{ playlist.playlist | replace: ' ', '_' | downcase }}"><i class="fa fa-angle-right fa-li"></i> {{ playlist.playlist }}</a></li>
{% endfor %}
</ul>
</div>
</div>
{% for playlist in item.playlists reversed %}
<div class="playlist-container" id="{{ playlist.playlist | replace: ' ', '_' | downcase }}">
<div class="container">
<img width="600" src="/img/playlists/{{ playlist.playlist | slugify }}.png" alt="Album art {{ playlist.playlist }}" />
<h2>{{ playlist.playlist }}</h2>
<div class="playlist-meta">
{% if playlist.rdio %}<i class="fa fa-music"></i> <a href="{{ playlist.rdio }}" class="playlist-rdio">Listen on Rdio</a>{% endif %}
</div>
<div class="playlist">
{% for tracks in playlist.tracks %}
<div class="playlist-track">
<div class="track-name">{{ tracks.track }}</div>
<div class="track-meta">
<span class="track-artist">{{ tracks.artist }}</span>
{% if tracks.album and tracks.album != '' %}<span class="track-album"> - {{ tracks.album }}</span>{% endif %}
</div>
</div>
{% endfor %}
</div>
</div>
</div>
{% endfor %}
{% endfor %}