---
layout: no-container
title: Playlists
redirect_from: "/playlist-master/index.html"
---

<div class="photos everything-thumbs">
{% for playlist in site.data.playlists reversed %}{% unless playlist.hidden %}
<a href="#{{ playlist.playlist | replace: ' ', '_' | downcase }}" title="{{playlist.playlist}}" class="everything-thumb" style="background-image: url(/img/playlists/{{ playlist.playlist | slugify }}.png)"></a>
{% endunless %}{% endfor %}
</div>

{% for playlist in site.data.playlists reversed %}{% unless playlist.hidden %}
<div class="playlist-container" id="{{ playlist.playlist | replace: ' ', '_' | downcase }}">
<div class="container">
<img width="600" src="/img/playlists/{{ playlist.playlist | slugify }}.png" alt="Album art {{ playlist.playlist }}" />
<h2>{{ playlist.playlist }}</h2>
<div class="playlist-meta">
<!--{% if playlist.rdio %}{% include icons/music.svg %} <a href="{{ playlist.rdio }}" class="playlist-rdio">Listen on Rdio</a>{% endif %}-->
{% if playlist.spotify %}{% include icons/music.svg %} <a href="{{ playlist.spotify }}" class="playlist-rdio">Listen on Spotify</a>{% endif %}
</div>
<div class="playlist">
{% for tracks in playlist.tracks %}
<div class="playlist-track">
<div class="track-name">{{ tracks.track }}</div>
<div class="track-meta">
<span class="track-artist">{{ tracks.artist }}</span>
{% if tracks.album and tracks.album != '' %}<span class="track-album"> - {{ tracks.album }}</span>{% endif %}
</div>
</div>
{% endfor %}
</div>
</div>
</div>{% endunless %}{% endfor %}
